[2016-01-14 06:17] freshapplenews opened #1 "subscribe button not working"
i am not sure why, i am pretty new to programming, for some reason the subscribe button havenot worked for me. i am sorry if it was my fault or something . i am sharing the screenshot
![screen shot 2016-01-14 at 11 47 48 am](https://cloud.githubusercontent.com/assets/16153803/12317186/b694050e-bab4-11e5-9780-02e637a78c93.png)

[2016-01-14 06:22] jessesquires commented on #1
Thanks @freshapplenews !

You'll need to open this from an RSS reader app, or if you tab 'subscribe' from Safari on iOS, it should open up in the Apple News app.

[2016-01-14 06:22] #1 closed

[2016-01-14 06:22] jessesquires opened #2 "Apple news publisher"

[2016-01-14 06:29] freshapplenews commented on #1
thank you jessesquires

[2016-01-14 07:03] jessesquires opened #3 "Add 'written by' field, implement possibility for multiple authors"
Currently, would use `post.author` for the `written by` field.

Written by:
- Appears below issue # and date, "Written by <Name of Author>"

Add authors to `_config.yml` ?

[code]

[2016-01-14 07:04] jessesquires opened #4 "Update issues #0 to #4 with "originally published on..." info"

[2016-01-14 16:10] masters3d opened #5 "associatetype"
I don't think is is s braking change in 2.2. I thought I read that it was just additive so that both types alias and associated type would compile in 2.2   I maybe be wrong.

Loïc Lecrenier's proposal, "Replace typealias keyword with associatedtype for associated type declarations", has been accepted for Swift 2.2! **This is a breaking change, but it should be easy to migrate your existing code.**

[2016-01-14 16:13] jessesquires commented on #5
Oops. :blush:

You're right: https://github.com/apple/swift-evolution/blob/master/proposals/0011-replace-typealias-associated.md#proposed-approach

Thanks @masters3d ! :smile:

What do submit a PR?

[2016-01-14 16:32] #5 closed

[2016-01-14 16:32] jessesquires commented on #5
nevermind. got it! :smile:

[2016-01-14 17:01] jessesquires opened #6 "Subscribe via email?"
https://twitter.com/orta/status/687668665198731264

[2016-01-14 17:24] masters3d commented on #5
cool! thanks, I was driving. ;)

[2016-01-14 18:02] jessesquires commented on #5
you can't submit pull requests while driving? :wink:

[2016-01-15 02:54] jessesquires opened #7 "Search?"
Will probably be useful to be able to search the site eventually

[2016-01-16 00:56] jessesquires opened #9 "Setup travis-ci?"
Not sure what this would do. Just run jekyll build?

[2016-01-16 02:13] garricn commented on #6
Yes please 😄

[2016-01-17 07:59] jessesquires commented on #2
signed up!

[2016-01-17 07:59] #2 closed

[2016-01-17 08:47] jessesquires opened #11 "Improve page loading speed"
https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fswiftweekly.github.io%2F&tab=mobile

[2016-01-18 02:01] #4 closed

[2016-01-18 02:49] jessesquires commented on #3
found solution here:
https://gist.github.com/ravasthi/1834570

[2016-01-18 02:49] #3 closed

[2016-01-18 03:40] havocked opened #12 "[Translation] Supporting general i18n in Jekyll"
Hi,

I would like to start translating your posts in french in order to keep a regular challenge each week before writing my own stuff :)

How do you plan to integrate internationalization with jekyll ?
After searching a little bit on google, it seems that there is quite a few different ways to do it !

Cheers !

[2016-01-18 05:44] jessesquires commented on #12
Hey @havocked! Awesome :tada:

:smile: Great question. I have no idea! I was waiting to build this until someone expressed interest in translating. Please share any information you've found. :+1:

I've been trying to think of the best way to do this, but haven't really investigated this fully. I just pushed support for multiple authors, so each post now has a *"written by ..."* byline. I plan to h

[2016-01-18 05:45] jessesquires commented on #12
Did a quick search and briefly looked at this, didn't read it completely yet. But seems like it has some good info.
https://developmentseed.org/blog/multilingual-jekyll-sites/

[2016-01-18 06:03] havocked commented on #12
Alright, let me check that later, after work day !

[2016-01-18 17:22] jessesquires opened #13 "[Translation] French"
Issue tracking FR localization.

[2016-01-18 17:24] jessesquires commented on #12
@havocked — I just realized that my previous comments might make it seem like you would need to help build internationalization support. Do you want to help build the internationalization support? Or only provide translations? (Or both?) Let me know what sounds best to you. (Any answer is fine! :smile:)

I don't want to impose this feature on you if you only wanted to translate content. So:

- If

[2016-01-18 17:40] havocked commented on #12
@jessesquires Seems to be a good challenge to find the best way to implement i18n with jekyll! I cloned your project and just started working on solutions.
In the meantime, ```/drafts/``` is a good place I could drop the translations:

How about temporarily naming files like this ?
2016-01-21-issue-6-**en**.md
2016-01-21-issue-6-**fr**.md
2016-01-21-issue-6-**xx**.md
...

So, long story short, to

[2016-01-18 18:08] jessesquires commented on #12
Awesome! :tada: I just wanted to check.

Actually, for now, let's keep file names the same, and put them in `/_drafts/fr/`. So:

[code]

That sound good?

[2016-01-18 18:15] havocked commented on #12
Yup good for me !

Alright so based on your previous link:

https://developmentseed.org/blog/multilingual-jekyll-sites/

I followed the trail and found this repo:
https://github.com/climatescope/climatescope.github.io/tree/publish/app
It's based on a Nate Smith's [tweet](https://twitter.com/nas_smith/status/587416028365381632), the author of the linked article.

It looks like, if we gonna go witho

[2016-01-18 19:22] jessesquires commented on #12
This looks awesome. Nice work :+1:

Yes, this is expected. However, that site is substantially more complex than this one, it seems. Looking through the `_config.yml` and `_posts/` — it seems straight forward.

Some notes:

Climatescope uses this pattern for URLs:

[code]

Moving to `/en/` would break existing links, etc. for us. So I propose using:

[code]

I'm pretty sure we'll be able to make t

[2016-01-19 06:24] havocked commented on #12
`Still thinking about visual design.`
Maybe the bar in the header can be used for i18n using emoji flags.
Could be easly modular if there are many languages.

<img width="655" alt="translation" src="https://cloud.githubusercontent.com/assets/7999585/12411276/c03fdd68-be96-11e5-9541-abdf130a2976.png">

[2016-01-19 22:37] kylejm commented on #6
:+1:

[2016-01-19 22:42] kylejm commented on #6
Perhaps a [Mandril](https://www.mandrill.com), [Mailgun](https://www.mailgun.com) or similar step could be run by Travis CI (#9) after successful deploy?

[2016-01-19 22:46] kylejm commented on #6
An interim solution I'm using is to turn on notifications for [@swiftlybrief](http://twitter.com/swiftlybrief).

[2016-01-31 06:13] jessesquires commented on #12
New branch for this work, [`i18n_issue_12 `](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/i18n_issue_12).

[2016-02-04 06:47] #9 closed

[2016-02-04 06:59] jessesquires opened #16 "travis-ci is failing"
not sure why
https://travis-ci.org/SwiftWeekly/swiftweekly.github.io

[2016-02-05 03:08] #16 closed

[2016-02-19 22:50] rafaelcsa opened #18 "[Translation] Brazilian Portuguese"
Hi @jessesquires,

Seeing how well the french translation seems to be turning, I'd like to offer my translations to Brazilian Portuguese if you don't mind. This should hopefully help some people in my country and also help me keep in touch with what goes on in the Swift world more closely.

Let me know if this is fine by you!

Cheers!

[2016-02-20 03:22] jessesquires commented on #18
Thanks @rafaelcsa ! :smile: This is awesome :bow:

I'm still working on getting the translation architecture setup in jekyll. For now, feel free to open a PR and put translated issues in `/_drafts/pt-BR/` and submit to the [`portuguese_brazil`]( https://github.com/SwiftWeekly/swiftweekly.github.io/tree/portuguese_brazil) branch.

I'm hoping to have enough time this weekend to finish the infra work

[2016-02-20 06:08] #7 closed

[2016-02-20 15:03] rafaelcsa commented on #18
Awesome! I'm working on the first issue. Hopefully I'll get a couple done this weekend.

Cheers!

[2016-03-03 02:54] jessesquires commented on #18
Hey @rafaelcsa ! :smile:

Any updates here? Feel free to open a pull request and just add commits to it as you go.

[2016-03-08 00:46] rafaelcsa commented on #18
Hey @jessesquires,

Just created a pull request with the translation of the first issue. Sorry for taking so long. Hopefully I'll get the next few done much quicker now.

Cheers

[2016-03-08 01:07] jessesquires commented on #18
:tada: :smile:

[2016-03-17 23:52] jessesquires opened #27 "Starter task _include/ component"
Pull out start task div, as seen in http://swiftweekly.github.io/issue-14/ as a new `_include/`

[2016-03-19 20:07] #6 closed

[2016-03-19 20:08] jessesquires commented on #6
![img](https://media.giphy.com/media/5mBE2MiMVFITS/giphy.gif)

[2016-03-19 22:41] #27 closed

[2016-03-24 00:06] modocache opened #28 "Starter tasks for issue 15"
Some new starter tasks:

- [SR-1046](https://bugs.swift.org/browse/SR-1046): Make sure we use the same test runner executable for both the Swift and swift-corelibs-xctest builds.
- [SR-1047](https://bugs.swift.org/browse/SR-1047): Test the Python used in the swift-corelibs-xctest project as part of the XCTest test suite.
- [SR-1048](https://bugs.swift.org/browse/SR-1048): Build debug/release versi

[2016-03-24 00:13] jessesquires commented on #28
:tada: :bow:

[2016-03-24 00:19] #28 closed

[2016-04-01 19:03] modocache opened #30 "[17] Add StarterBug for stdlib tests"
- [SR-1124](https://bugs.swift.org/browse/SR-1124): Migrate legacy Swift stdlib tests to the StdlibUnittest framework. This would make those tests easier to read and maintain. Over the course of completing this task, newcomers to Swift development would become familiar with several tools used to test the compiler. There are 35 tests in total--feel free to claim individual tests by commenting on th

[2016-04-01 19:09] jessesquires commented on #30
Thanks @modocache ! :smile:

[2016-04-01 23:57] #30 closed

[2016-05-05 18:19] modocache opened #37 "[22][SR-1421] Starter task to improve `sourcekitd-test` output"
[SR-1421](https://bugs.swift.org/browse/SR-1421): Document the `sourcekitd-test` tool, which is used to quickly experiment with SourceKit. This task will involve writing a small amount of C++. You'll learn about LLVM's command line interface library and its argument parser, as well as about Swift's SourceKit.

[2016-05-06 01:13] #37 closed

[2016-05-06 01:13] jessesquires commented on #37
thanks @modocache ! 🙇 😄 🎉

[2016-05-12 02:08] jessesquires opened #38 "Add Jekyll SEO tag plugin"
https://github.com/blog/2162-better-discoverability-for-github-pages-sites

[2016-06-23 00:05] #18 closed

[2016-06-23 00:05] #13 closed

[2016-07-19 15:09] #12 closed

[2016-07-19 15:16] jessesquires opened #50 "September issues"
@modocache @jpsim

Hello good sirs! Thanks so much for helping out in September 😊

Here's the current tentative plan:

- [x] Issue 37, Sept 8: Jesse
- [x] Issue 38, Sept 15: JP
- [x] Issue 39, Sept 22: Brian
- [x] Issue 40, Sept 29: Brian

Of course, we can tweak this however we want. Or, if you know someone else who would like to contribute, that would work too. Let me know how this sounds! 😄

[2016-07-21 22:57] jpsim commented on #50
I'm looking forward to pitching in 😄 . Any tips for collecting the information? You're a pro by now 😆

[2016-07-22 00:50] jessesquires commented on #50
Haha. :smile: Yeah, let's sync up when it gets a bit closer

[2016-07-28 03:12] jessesquires opened #57 "Issue 33 - after Swift 3"
For Issue 33.

Tracking the remaining Swift 3 proposals to see what gets merged by the deadline:

- SE-0134: https://github.com/apple/swift/pull/3816
- SE-0129: https://github.com/apple/swift-package-manager/pull/566
- SE-0104: https://github.com/apple/swift/pull/3796
- SE-0133: https://github.com/apple/swift/pull/3809 / https://github.com/apple/swift/pull/3838
- SE-0111: https://github.com/apple/

[2016-08-01 17:01] mominul commented on #57
- [x] Merged apple/swift#3816
- [x] Merged apple/swift-package-manager#566
- [x] Merged apple/swift#3809 / apple/swift#3838
- [x] Merged apple/swift#3837
- [x] Merged apple/swift#3761
- [ ] Open apple/swift#3836
- [x] Merged apple/swift#3853
- [x] Merged apple/swift#3854
- [x] Merged apple/swift#3878
- [ ] Closed apple/swift#3866

[2016-08-02 01:47] jessesquires commented on #57
Thanks @mominul ! 👍 😄

[2016-08-02 02:11] karwa commented on #57
SE-0000: apple/swift#3796 also remains open

[2016-08-02 07:58] mominul commented on #57
@karwa SE-0000 ?

[2016-08-02 10:27] mominul commented on #57
@karwa SE-0000 ?

[2016-08-02 19:23] karwa commented on #57
That's what the first post calls it; it's actually SE-0104.

https://github.com/apple/swift-evolution/blob/master/proposals/0104-improved-integers.md

[2016-08-04 02:22] #57 closed

[2016-08-04 09:54] mominul commented on #57
Thank you @karwa for your clarification!

[2016-08-25 12:04] johnno1962 opened #63 "Swift Java Bridge?"
Hi, what about a mention of https://github.com/SwiftJava/SwiftJava?

[2016-08-25 15:39] jessesquires commented on #63
👍 Adding now!

Thanks @johnno1962 ! 😄

[2016-08-25 15:39] #63 closed

[2016-08-25 15:47] johnno1962 commented on #63
Thanks Jesse.

[2016-09-02 18:19] BasThomas commented on #50
@jpsim / @modocache: let me know if I can help any of you with a specific thing / things!

[2016-09-03 19:10] modocache commented on #50
Thanks! Pull requests for anything you find interesting would be great. I also don't usually follow Swift evolution, so some feedback on anything I write about that would be awesome as well.

[2016-09-03 19:14] modocache commented on #50
Also:

1. Is there a specific time of day I should publish?
2. Do tweets/emails automatically get sent out when I publish? Or should I send those out manually somehow?

[2016-09-04 01:03] jessesquires commented on #50
@modocache Should push to master before 12pm PST. (So 3pm EST)

Emails automatically go out by noon (based on new content in RSS feed). I've been doing the tweets manually. I should probably automate that eventually. 😄

(I'll take care of the tweets manually for now. I have the best tweets. Everybody loves my tweets.)

[2016-09-04 01:03] jessesquires commented on #50
I'll update `CONTRIBUTING.md` with that info.

[2016-09-04 06:25] BasThomas commented on #50
@modocache I am on top Evolution! 👍

[2016-09-04 21:38] BasThomas commented on #50
@jessesquires should we explicitly add the tweets are being sent manually at this time? That might prevent some questions in the future.

[2016-09-04 21:38] BasThomas opened #68 "Automate tweets for new issues"

[2016-09-04 21:55] jessesquires commented on #68
I've never used the twitter API, so I don't have much experience with this.

If we could integrate with travis-ci, that would be awesome.

[2016-09-04 21:58] jessesquires commented on #50
@BasThomas - done 👍

[2016-09-05 07:18] BasThomas commented on #50
🙌

[2016-09-07 05:45] jessesquires opened #70 "Setup danger + proselint"
http://danger.systems/guides/getting_started.html

http://proselint.com

just did this for jessesquires.github.io. super easy.

[2016-09-08 01:48] #38 closed

[2016-09-08 01:59] jessesquires commented on #70
done in 2e4da931cc074918c767e19320757d58be4a5018

[2016-09-08 01:59] #70 closed

[2016-09-08 05:00] BasThomas commented on #70
Woo, nice!

[2016-09-08 05:01] BasThomas commented on #38
🙌

[2016-09-08 15:03] jessesquires opened #74 "[38] Issue #38, Sept. 15, JP"
Let's use this issue for any discussion regarding Issue 38.

I'll probably be commenting here with links every once in awhile to help out. 😄

[2016-09-08 15:03] jessesquires commented on #74
The empty draft is all ready to go 😄

https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/_drafts/2016-09-15-issue-38.md

[2016-09-08 15:44] jessesquires commented on #50
Hey all — I just updated [CONTRIBUTING](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md) again. Everything you need to know should be there. I pushed some infra updates this week too — adding `proselint`. So, it should be even easier to manage everything now. Let me know if you need anything else!

[2016-09-08 17:19] BasThomas commented on #50
Thanks for all the work, @jessesquires!

[2016-09-08 20:46] modocache opened #75 "[38] Why aren't Double/Int bridged to NSNumber on Linux?"
tl;dr: Because bridging via the ClangImporter is currently coupled with the presence of an Objective-C runtime.

- Original question: https://lists.swift.org/pipermail/swift-corelibs-dev/Week-of-Mon-20160905/000921.html
- Answer: https://lists.swift.org/pipermail/swift-corelibs-dev/Week-of-Mon-20160905/000924.html

Really interesting discussion; we should digest it and include it in issue 38 (#74)

[2016-09-09 16:31] jessesquires opened #79 "[38] First appearances of Swift 3.1 ?"
https://github.com/apple/swift/pull/4690/files

😮

[2016-09-09 16:53] BasThomas commented on #79
😳

[2016-09-10 11:34] BasThomas commented on #79
On `swift-evolution`: https://github.com/apple/swift-evolution/pull/522/files

[2016-09-11 13:10] modocache commented on #75
I think this is the same reason that Android ports, both of the Swift stdlib and of swift-corelibs-foundation, involved adding additional casts: https://github.com/apple/swift-corelibs-foundation/pull/622/files#diff-f731010b894263672b9190abbdd789ddR450

[2016-09-13 07:34] BasThomas opened #86 "Running `jekyll build` fails"
[code]

Is this a recent issue, or is it me missing something?

[2016-09-13 14:59] jessesquires commented on #86
everything seems good for me locally 😄 travis is happy, too.

maybe try a fresh checkout and re-run `bundle install` ?

[2016-09-13 14:59] #86 closed

[2016-09-13 15:10] BasThomas commented on #86
Will try later!

[2016-09-15 04:38] jpsim commented on #75
Thanks for linking to that discussion... although I'm not convinced the ClangImporter is involved here.

I still think it's worth adding to the article to highlight that despite _portability_ having been a strong goal for Swift 3 [[0]](https://github.com/apple/swift-evolution#development-major-version--swift-30), there are still important areas where the behavior varies between platforms, especial

[2016-09-15 17:04] jpsim commented on #75
issue is out, thanks @modocache! http://swiftweekly.github.io/issue-38/

[2016-09-15 17:04] #75 closed

[2016-09-15 17:05] jpsim commented on #79
issue is out, thanks all! http://swiftweekly.github.io/issue-38/

[2016-09-15 17:05] #79 closed

[2016-09-15 17:05] jpsim commented on #74
issue is out, thanks all! http://swiftweekly.github.io/issue-38/

[2016-09-15 17:05] #74 closed

[2016-09-15 17:53] jessesquires commented on #50
@modocache you're up next! 🎉 😄 🙌

[2016-09-15 18:06] modocache commented on #50
![giphy 4](https://cloud.githubusercontent.com/assets/552921/18561380/9c341456-7b4d-11e6-83ff-7ffa14562586.gif)

[2016-09-16 19:40] BasThomas commented on #86
Late response, but got it working! Not sure what I did wrong. 😕

[2016-09-19 14:24] modocache commented on #50
Pushed a draft for issue 39 here: https://github.com/SwiftWeekly/swiftweekly.github.io/commit/8c37d258d3956022cc80c98b146ab9f73b22a3b5

[2016-09-22 14:01] modocache commented on #50
39 is ready for final review. Have a read here! #92

[2016-09-22 17:12] modocache commented on #50
OK, published 39! Now I just have to wait for that email (automated) and tweet (via @jessesquires). 💯

[2016-09-22 17:35] BasThomas commented on #50
Good job @modocache! 😀

[2016-09-22 17:38] modocache commented on #50
Noticed one issue after publishing...

![screen shot 2016-09-22 at 1 22 15 pm](https://cloud.githubusercontent.com/assets/552921/18759262/bcdefa82-80c9-11e6-9c64-a36606837d73.png)

I'll look into it. It's OK to push changes to production, right? 😅

[2016-09-22 17:41] BasThomas commented on #50
Should be no problem :)

[2016-09-22 17:50] modocache commented on #50
Problem is: I don't really know why this is blank. It seems to be referencing a variable named `site.handle`. Maybe it's a Jekyll thing?

I'll take a look after this issue is published. :)

[2016-09-22 17:56] BasThomas commented on #50
Seems this has broken previously? All old issues are having the same issue. 😕

[2016-09-22 18:01] BasThomas commented on #50
I think Jesse broke this in 74de0a0. Try `.twitter.username` instead of `.handle`? Can't test locally at this moment myself, unfortunately.

[2016-09-22 18:06] modocache commented on #50
Fixed in https://github.com/SwiftWeekly/swiftweekly.github.io/commit/cb1a00727fd7dab9e7ae1bf0b2147fa8bb27f592. Thanks, @BasThomas!! ❤️

[2016-09-22 21:55] jessesquires commented on #50
lol whoops 😊

thanks @BasThomas and @modocache !! 🙌

![](https://media.giphy.com/media/l46Ct8dnc7vaiz7k4/giphy.gif)

[2016-09-24 15:58] modocache opened #94 "How do you refer to yourself?"
The weekly usually refers to people in the third person:

What happens if the author and the subject of the sentence are the same person? For example, in issue 39, I wrote:

Should I instead write this?

On the one hand, it's weird to refer to myself in the third-person. On the other, "I" isn't in line with the rest of the document.

Thoughts? 🙌

[2016-09-25 05:45] BasThomas commented on #94
Although I can image it sounds weird, I think it's the easiest to refer to yourself in 3rd person. Because there are different people writing the Weekly Brief now, using "I" can become confusing.

[2016-09-25 10:13] jessesquires commented on #94
Yeah -- I've done both in the past I think (can't remember).

But, I think I agree that 3rd-person is probably the least confusing.

[2016-09-25 13:06] modocache commented on #94
Agree, third person it is. Thanks!

[2016-09-25 13:06] #94 closed

[2016-09-30 10:23] jessesquires commented on #50
Thanks all for the help!

You have no idea how much I appreciate this! It helped so much and gave me some much needed time off-the-grid. 😊

Would be more than happy to have each of you continue to contribute as much as you want! 👏

[2016-09-30 10:23] #50 closed

[2016-10-04 17:54] BasThomas opened #102 "[Issue 42] October 13"
Hey Jesse - if you're OK with this, I'd like to write next week's issue!

[2016-10-04 18:16] jessesquires commented on #102
🎉  Sounds good to me! 😄

[2016-10-06 16:03] jessesquires commented on #102
Generated the initial draft 😄

[2016-10-06 17:22] BasThomas commented on #102
Thanks!

[2016-10-06 21:18] jessesquires commented on #102
Slightly older thread, but we should add this:

https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20160926/027337.html

[2016-10-10 14:37] jessesquires commented on #102
https://twitter.com/ericasadun/status/784528752822849536

[2016-10-10 14:39] jessesquires commented on #102
community articles:
http://modocache.io/swift-on-android-now

[2016-10-10 15:02] BasThomas commented on #102
Thanks Jesse, will add these! :)

[2016-10-10 18:37] modocache commented on #102
The first weekly I wrote included a blurb on how source-breaking changes were hard to determine sometimes, and mentioned https://github.com/apple/swift/pull/4878. It turns out this caused source-breaking changes for some developers in the wild: https://github.com/apple/swift/pull/4878#issuecomment-252695257

[2016-10-10 20:53] BasThomas commented on #102
Should I make a separate header for "community articles"? And do you want to keep these going forward (read: should I add it to the draft generator as well)?

[2016-10-11 15:39] jessesquires commented on #102
Yeah, in previous issues we have a **Community** section below starter tasks

[2016-10-11 15:39] jessesquires commented on #102
we can add it to the draft 👍

[2016-10-12 22:58] jessesquires commented on #102
ping @BasThomas 😄

we publish tomorrow AM 😊

[2016-10-13 05:52] BasThomas commented on #102
Yup!

[2016-10-13 14:50] #102 closed

[2016-11-03 16:28] jessesquires opened #121 "[46] Issue 46, Nov 10"
Next issue by @modocache 😄

[2016-11-03 16:30] jessesquires commented on #121
initial draft pushed
https://github.com/SwiftWeekly/swiftweekly.github.io/commit/45dbccd51a68b846071254449704fac0c8cadf5f

[2016-11-04 05:27] jessesquires commented on #121
😱 Note worthy:

https://twitter.com/chandlerc1024/status/794318137445359616

[2016-11-04 17:41] hollaur opened #122 "The Mistakes Most Swift Developers Don't Know They're Making"
[The Mistakes Most Swift Developers Don't Know They're Making](https://www.toptal.com/swift/top-swift-development-mistakes)

Swift is the new programming language created to be a modern replacement for Objective-C in iOS and OS X application development. In general, a skilled Swift developer is usually someone who is already experienced with Objective-C, and that, among other things, might lead th

[2016-11-05 15:16] jessesquires commented on #122
Thanks @hollaur ! 😄

I'm not sure this would be suited for the Swift Weekly audience. We try to share community articles on very swift-specific topics or technical details. But this looks like a great post for the Cocoa community in general! 😊

[2016-11-05 15:16] #122 closed

[2016-11-05 18:12] modocache commented on #121
@jessesquires I added a blurb about LLVM moving to GitHub in #123. As I mention there, I wouldn't hold my breath, though. There are a lot of issues involved in moving -- the multirepo vs. monorepo decision appeared to be super contentious, and I don't see a consensus being reached anytime soon. No matter which is chosen, there are a lot of licensing and tooling issues as well.

[2016-11-05 18:13] modocache commented on #121
As usual, help with Swift evolution and the mailing lists would be greatly appreciated! /cc @BasThomas

[2016-11-05 18:53] jessesquires commented on #121
Shocking 😆 😅

[2016-11-05 18:53] BasThomas commented on #121
Will submit PRs when I find something interesting. :)

[2016-11-09 19:48] modocache commented on #121
OK, if anyone has any material at all about the mailing lists or Swift evolution, now's the time to add it, please! I am very lost when it comes to covering that stuff. 🙇 /cc @BasThomas @jessesquires

[2016-11-09 20:24] BasThomas commented on #121
Give me a sec!

[2016-11-09 23:11] modocache commented on #121
I'd appreciate it if you added it now, and then you or I can revisit it tomorrow. 👍

[2016-11-10 07:33] BasThomas commented on #121
Sorry, timezones 😕
Saw you added it just now, thanks for that!

[2016-11-10 14:08] BasThomas commented on #121
🙌

[2016-11-10 14:10] BasThomas commented on #121
Nvm, you haven't published yet. On purpose?

[2016-11-10 16:20] #121 closed

[2016-11-10 16:20] jessesquires commented on #121
👍 💯

[2016-11-13 15:09] codeOfRobin opened #126 "[47] Issue #47, Nov 17th"
Referencing tweet: https://twitter.com/jesse_squires/status/797518315048448000

Hey! I'd love to help out with the new issue.

[2016-11-13 15:44] BasThomas commented on #126
Hey, thanks for the offer! Are you interested in writing the full issue, or just helping out where you can?

[2016-11-13 15:46] codeOfRobin commented on #126
Let's start with helping out where I can 😅

[2016-11-13 15:49] BasThomas commented on #126
That's fine! Let me know if you have any questions.

[2016-11-13 16:06] codeOfRobin opened #127 "About functional emoji...."
Referencing @ericasadun's tweet that was mentioned in the "Finally" section in [this review](http://swiftweekly.github.io/issue-45/).
There's a twitter account dedicated to explaining map, reduce and filter via emoji: https://twitter.com/functionalemoji

[2016-11-13 20:20] jessesquires commented on #126
Notable info for this issue:
https://twitter.com/practicalswift/status/797895401885999104

[2016-11-13 20:21] jessesquires commented on #126
Thanks @codeOfRobin and @BasThomas !

I'll jump-in every once in awhile and answer any questions.

@codeOfRobin -- Checkout the contributing guidelines in the repo, and previous issues for examples. 😄

[2016-11-13 20:24] jessesquires commented on #127
👍 Thanks @codeOfRobin !

Feel free to add this for issue 47

[2016-11-13 20:24] #127 closed

[2016-11-16 05:06] jessesquires commented on #126
✨ Friendly ping ✨

Just a heads up that this issue should be ready by Wednesday night / Thursday morning if we want to publish.

**No pressure at all** — I was planning on skipping this week, so this is entirely up to you! Feel free to say no! 😄

[2016-11-16 06:33] BasThomas commented on #126
Yes, will work on finishing this today. A promise is a promise!

[2016-11-16 06:39] codeOfRobin commented on #126
I couldn't make a PR for functionalemoji (jekyll won't build on my machine for some reason), so could you add it @BasThomas (referencing issue #127 )

[2016-11-16 17:01] jessesquires commented on #126
@codeOfRobin -- No worries. As long as you can write markdown, you can still submit the PR 😄

(we'll fixup anything if needed)

[2016-11-16 17:33] codeOfRobin commented on #126
@jessesquires Done! 👍

[2016-11-16 21:16] BasThomas commented on #126
The issue doesn't show up when previewing with Jekyll after moving it to _posts. 🤔
Any idea @jessesquires?

[2016-11-17 02:06] jessesquires commented on #126
did you run bundle install after cloning from github?

https://github.com/SwiftWeekly/swiftweekly.github.io#installation

[2016-11-17 04:14] BasThomas commented on #126
I did, yep!

[2016-11-17 08:39] BasThomas commented on #126
Strange, must have missed something. "It just works" on my MacBook. ¯\_(ツ)_/¯

[2016-11-17 16:31] #126 closed

[2016-11-18 06:26] BasThomas opened #142 "[48] Issue #48, Dec 1st"
@jessesquires, are you writing issue 48? Or do you want someone else to pick it up?

[2016-11-18 06:26] BasThomas commented on #142
Either way, as a reference:

[SE-0143 accepted](https://lists.swift.org/pipermail/swift-evolution-announce/2016-November/000295.html)
[SE-0146 under review](https://lists.swift.org/pipermail/swift-evolution-announce/2016-November/000296.html)

[2016-11-18 06:53] jessesquires commented on #142
I was planning on skipping next week because it's a US holiday. (Thanksgiving) I'm sure a lot of Apple folks will be out and repos will quiet down.

How about we publish Issue 48 on Dec 1? (So Issue 48 will cover 2 weeks.)

[2016-11-18 06:55] jessesquires commented on #142
Would also be good to mention this:
https://github.com/swift-server/work-group

[2016-11-18 07:01] BasThomas commented on #142
That seems like a good idea. Have we not discussed the work group yet, by the way? 😱

[2016-11-18 07:04] BasThomas commented on #142
Ah, it was discussed in issue 44 (https://swiftweekly.github.io/issue-44/)

[2016-11-18 15:18] jessesquires commented on #142
"Rule of thumb" from Jordan Rose:
https://lists.swift.org/pipermail/swift-users/Week-of-Mon-20161114/003982.html

[2016-11-24 11:51] vladdmitriev opened #143 "New swift library for new issue"
Hello,

My name is Vlad. Our company Cleveroad have created our new swift library - CRNetworkButton. This is a send button for iOS - https://github.com/Cleveroad/CRNetworkButton

"Anytime the users click on the button, they will see the animation that informs them of the progress and completion."

![demo_ 2](https://cloud.githubusercontent.com/assets/20402305/20597533/f7f79250-b24c-11e6-86b6-9dbef

[2016-11-24 14:32] BasThomas commented on #143
Hi Vlad! I don't think this is really suited for Swift Weekly. We cover Swift OSS in this brief, but no projects or libraries. Thank you for your understanding! 🙂

[2016-11-24 14:32] #143 closed

[2016-11-27 19:27] BasThomas commented on #142
https://twitter.com/slava_pestov/status/802942139873173504 + https://github.com/apple/swift/pull/5935

[2016-11-28 17:06] BasThomas commented on #142
https://github.com/apple/swift/pull/5904

[2016-11-28 19:16] jpsim commented on #142
Automatically building SourceKit on Linux: https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20161121/003554.html

[2016-11-30 04:55] jessesquires commented on #68
Maybe we can use https://ifttt.com for this?

[2016-11-30 06:17] BasThomas commented on #68
Yeah, probably! And you would want to connect it to receiving the already automated mail?

[2016-11-30 17:07] jessesquires commented on #68
Hm... not sure how that would work. I was hoping we could have IFTTT listen for changes in the RSS feed, then tweet based on that. (Which is actually how to the emails work, too.)

[2016-11-30 18:04] BasThomas commented on #68
Didn't think of that, but that's an even better idea!

[2016-11-30 18:05] BasThomas commented on #142
SE-0146 accepted: https://lists.swift.org/pipermail/swift-evolution-announce/2016-November/000298.html

[2016-11-30 18:16] BasThomas commented on #142
Greg Heo's [CollectionOfOne](https://swiftunboxed.com/open-source/CollectionOfOne/) and [IteratorOverOne](https://swiftunboxed.com/open-source/IteratorOverOne/) articles (Community)

[2016-11-30 20:03] BasThomas commented on #68
Something like this should do the trick:
<img width="486" alt="screen shot 2016-11-30 at 21 02 45" src="https://cloud.githubusercontent.com/assets/4190298/20769005/73db351e-b740-11e6-9c71-f7b9fcfdd0bd.png">

[2016-12-01 05:22] jessesquires commented on #142
👍

[2016-12-01 16:31] #142 closed

[2016-12-01 16:41] daveyostcom opened #144 "Implement previous & next issue at bottom of post"

[2016-12-01 16:51] jessesquires commented on #144
Good idea. Thanks @daveyostcom !

[2016-12-01 16:54] BasThomas commented on #142
Woah, totally missed it is Thursday already. Great work, @jessesquires!

[2016-12-05 20:13] jessesquires opened #146 "Improve Danger / Spell check"
Lots of noise from danger proselint sometimes.

http://danger.systems

https://github.com/ashfurrow/danger-proselint

https://github.com/lukeapage/node-markdown-spellcheck

[2016-12-06 15:43] jessesquires commented on #146
cc @BasThomas

[2016-12-08 14:03] BasThomas opened #150 "[49] SwiftPM improvements"
See https://lists.swift.org/pipermail/swift-build-dev/Week-of-Mon-20161205/000780.html. Was wondering were these would fit in the Brief?

[2016-12-08 15:52] jessesquires commented on #150
👍 will add this

[2016-12-08 15:52] #150 closed

[2016-12-15 05:55] jessesquires opened #152 "[51] Issue #51 - January 5, 2017"

[2016-12-15 21:29] jpsim commented on #152
Bug Reducer! https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20161212/003712.html

[2016-12-16 06:15] jessesquires commented on #152
ANTLR support:

https://twitter.com/clattner_llvm/status/809640290378137600
https://twitter.com/the_antlr_guy/status/809626636115132416
http://www.antlr.org/download.html

[2016-12-17 18:00] modocache commented on #152
Slides from an IBM conference: https://twitter.com/clattner_llvm/status/810175976583950336

- Discusses potential improvements for Swift compiler, such as parallel WMO based on LLVM's ThinLTO approach
- Swift 5 planned for release in 2018, will include concurrency model
- Discussions on concurrency model to begin in Spring/Summer 2017

[2016-12-18 06:14] jessesquires commented on #152
@modocache - Ha! I just came here to post that link 😄

[2016-12-18 22:05] jessesquires opened #155 "Authors page + "articles by author""
Should be straight forward in jekyll

[2016-12-19 18:46] jessesquires commented on #152
Implement main/isMainThread:
https://github.com/apple/swift-corelibs-foundation/pull/748

[2016-12-20 04:15] modocache commented on #152
A truly shameless plug for the "commits and pull requests" section: https://github.com/apple/swift/pull/6298

[2016-12-22 00:09] jpsim commented on #152
This one fixes quite a few issues, while simplifying the implementation: https://github.com/apple/swift/pull/6309

[2016-12-22 22:26] jpsim commented on #152
[Looking back on Swift 3 and ahead to Swift 4](https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20160725/025676.html)

Lots of good stuff to unwrap in there. Especially interesting are the "Possible Swift 4 Stage 2 Efforts". Here's a small sample, summarized:

- Reflection: The core team is committed to adding powerful dynamic features to Swift.
- First class concurrency: Actors, asyn

[2016-12-23 04:25] modocache commented on #152
That email appears to be from July...? Or am I missing something?

[2016-12-23 04:30] jpsim commented on #152
Oops, my mistake. It was re-shared today and seemed very much applicable and I didn't check the date! Though the reference to Swift 3.0.1 seemed odd...

[2016-12-23 21:40] jessesquires commented on #152
"Real compilers never crash" 😆
https://github.com/apple/swift/pull/6484

[2016-12-24 18:23] jessesquires commented on #152
partial + layout specialization:
https://twitter.com/slava_pestov/status/812700538584387584

[2016-12-29 17:06] jessesquires commented on #152
lattner on result types:
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20161226/029854.html

[2016-12-29 17:18] modocache commented on #152
Another truly shameless plug: https://github.com/apple/swift/pull/6495 -- better colorization of AST and parse tree dumps.

[2016-12-30 14:52] BasThomas commented on #152
https://github.com/apple/swift-evolution/commit/9e95709468756605aabcde500d7c920891a665fe

[2017-01-02 15:45] BasThomas commented on #152
https://oleb.net/blog/2016/12/protocols-have-semantics/

[2017-01-04 22:10] jpsim commented on #152
Kevin Ballard's PR to include unavailable/deprecated/availability attributes when printing Obj-C declarations for Swift functions has been merged: https://github.com/apple/swift/pull/6480

[2017-01-05 16:49] #152 closed

[2017-01-05 17:04] jessesquires opened #159 "[52] Issue #52 - January 12, 2017"

[2017-01-06 06:52] BasThomas commented on #159
SE-0147 accepted: https://lists.swift.org/pipermail/swift-evolution-announce/2017-January/000305.html

[2017-01-08 04:16] gregheo commented on #159
**Notes from Swift core team 2016-01-04 design discussion**

Mainly thoughts on the [Limiting @objc inference](https://github.com/DougGregor/swift-evolution/blob/objc-inference/proposals/NNNN-objc-inference.md) proposal.

https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170102/029962.html

[2017-01-08 21:06] jessesquires commented on #159
Thanks @gregheo ! 😄

[2017-01-08 21:06] jessesquires commented on #159
Benchmarking:
https://github.com/apple/swift/pull/6653

[2017-01-09 00:19] jessesquires commented on #159
PowerPC in corelibs-foundation:
https://github.com/apple/swift-corelibs-foundation/pull/767

[2017-01-10 17:23] gregheo commented on #159
Ted K as Swift project lead; Chris L to "leave Apple later this month to pursue an opportunity in another space" 😱

https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170109/030063.html

[2017-01-10 18:39] jessesquires commented on #159
Chris Edihof on generic subscripts:
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170109/030064.html

[2017-01-10 23:00] jessesquires commented on #159
Getting more crazy:
https://www.tesla.com/blog/welcome-chris-lattner

[2017-01-11 06:10] BasThomas commented on #159
[SE-0145 implemented](https://github.com/apple/swift-evolution/commit/ee236a7e4bf8573549bc4e088dd7713d74779ad8)

[2017-01-11 08:15] BasThomas commented on #159
[SE-0082 too](https://github.com/apple/swift-evolution/commit/abb4d442d1e174de405c4880f4b38c46baeeaecf)

[2017-01-12 03:27] benasher44 commented on #159
Promising-looking PR to speed up project build times in non-WMO mode: apple/swift#5977

[2017-01-12 05:18] mominul commented on #159
FreeBSD compatibility patch  apple/swift#4804 has been merged.

[2017-01-12 05:38] jessesquires commented on #159
thanks @benasher44 ! thanks @mominul ! 🎉

[2017-01-12 15:59] #159 closed

[2017-01-12 16:35] jessesquires opened #165 "[53] Issue #53 - January 19, 2017"

[2017-01-13 16:51] jessesquires commented on #165
https://twitter.com/slava_pestov/status/819757820002254848

[2017-01-13 17:09] gregheo commented on #165
### Final merge from master to swift-3.1-branch (swift-corelibs-dev)

https://lists.swift.org/pipermail/swift-corelibs-dev/Week-of-Mon-20170109/001070.html

[2017-01-14 19:54] gregheo commented on #165
### SE-0104 redux

The return of the approved, but not implemented, SE-0104 "Protocol-oriented integers"

https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170109/030191.html

### Equatability for enums with associated values

Interesting pitch with some good feedback and support on having enum values with equatable associated types be automatically equatable too.

https://lists.swif

[2017-01-15 21:19] jessesquires commented on #165
https://github.com/apple/swift-corelibs-foundation/pull/791

[2017-01-16 18:19] jessesquires commented on #165
https://github.com/apple/swift-corelibs-xctest/pull/184

[2017-01-16 20:57] ArtSabintsev commented on #165
@jessesquires https://github.com/apple/swift-corelibs-xctest/pull/184 is almost done (hopefully today) and is related to https://github.com/apple/swift/pull/6776 (just an FYI)

[2017-01-18 03:03] jessesquires commented on #165
interview with lattner:
http://www.macrumors.com/2017/01/17/chris-lattner-says-tesla-irresistible/

[2017-01-18 05:23] BasThomas commented on #165
SE-080 implemented: https://github.com/apple/swift-evolution/pull/586/files

[2017-01-18 22:01] BasThomas commented on #165
Swift-evolution site overhaul: http://apple.github.io/swift-evolution/ & https://github.com/apple/swift-evolution/pull/589#issuecomment-273611016

[2017-01-19 04:48] BasThomas commented on #165
^ blog post: https://swift.org/blog/swift-evolution-status-page/

[2017-01-19 13:26] ArtSabintsev commented on #165
@jessesquires

Regarding XCAssertNoThrow:

- https://github.com/apple/swift/pull/6776 was merged last Friday/Saturday.
- https://github.com/apple/swift-corelibs-xctest/pull/184 looks like it will be merged today.

[2017-01-19 17:02] #165 closed

[2017-01-19 17:02] jessesquires opened #167 "[54] Issue #54 - January 26, 2017"

[2017-01-19 21:15] BasThomas commented on #167
SE-0148, *Generic Subscripts*, will probably be reviewed soon: https://github.com/apple/swift-evolution/commit/b5788812dc7dc6c4f94f8a3ab1bade2f4ab07d0a

[2017-01-20 06:03] larryonoff commented on #167
iOS, watchOS, tvOS added as supported platforms to swift-corelibs-xctest, apple/swift-corelibs-xctest#176.

[2017-01-20 07:20] BasThomas commented on #167
https://github.com/apple/swift/blob/master/docs/StringManifesto.md

[2017-01-21 09:52] BasThomas commented on #167
SE-site legibility improvements: https://github.com/apple/swift-evolution/pull/592

[2017-01-21 15:37] larryonoff commented on #167
I think it would be great mentioning about PR [Add Unit Testing Infrastructure](https://github.com/apple/swift-corelibs-xctest/pull/61) for swift-corelibs-xctest. Maybe someone will help proceeding with this PR.

[2017-01-22 17:18] gregheo commented on #167
Unofficial Official Docker container for Swift

https://github.com/swiftdocker/docker-swift
https://lists.swift.org/pipermail/swift-users/Week-of-Mon-20170116/004470.html

[2017-01-23 16:07] jessesquires commented on #167
LLVM weekly: http://llvmweekly.org/issue/160

- http://lists.llvm.org/pipermail/llvm-dev/2017-January/109138.html
- http://lists.llvm.org/pipermail/llvm-dev/2017-January/108953.html

[2017-01-23 16:32] BasThomas commented on #167
https://bugs.swift.org/browse/SR-3631 / https://twitter.com/olebegemann/status/823563764884717568

[2017-01-23 19:28] jessesquires commented on #167
Slashdot interview with Lattner:
https://developers.slashdot.org/story/17/01/23/085232/slashdots-interview-with-swift-creator-chris-lattner

[2017-01-23 21:58] BasThomas commented on #167
We've just published a roadmap for the Swift 4 Package Manager: https://lists.swift.org/pipermail/swift-evolution-announce/2017-January/000307.html

[2017-01-23 21:58] BasThomas commented on #167
^ https://twitter.com/rballard/status/823632706382594048

[2017-01-24 15:17] jessesquires commented on #167
another podcast interview:
https://swiftcoders.podbean.com/e/37-chris-lattner-creator-of-swift

[2017-01-24 17:54] BasThomas commented on #167
SE-0149 under review: https://lists.swift.org/pipermail/swift-evolution-announce/2017-January/000308.html

[2017-01-25 02:52] gregheo commented on #167
**URLSession Test Fest**

https://lists.swift.org/pipermail/swift-corelibs-dev/Week-of-Mon-20170123/001092.html

[2017-01-25 02:56] gregheo commented on #167
**Swift 3.1 Development Snapshots**

Get a leg up on testing out Swift 3.1.

Development snapshots download page: https://swift.org/download/#snapshots

Announcement: https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20170123/003862.html

[2017-01-25 06:34] jtbandes commented on #167
GitHub syntax highlighting for Swift has [finally picked up](https://github.com/github/linguist/issues/3428) several recent changes: https://github.com/textmate/swift.tmbundle/compare/841f53f...master

[code]

[2017-01-25 20:11] jessesquires commented on #167
https://swiftunboxed.com/open-source/map/

[2017-01-25 20:18] modocache commented on #167
I don't think it's a recent thing, but @calebd turned me on to https://fossies.org/dox/swift-swift-3.0.2-RELEASE/, and it's changing my life. You can type in the name of any class in the Swift compiler C++ source code, and it'll show you class diagrams, documentation, and more. Suuuuper helpful.

[2017-01-25 20:26] gregheo commented on #167
@modocache that is AMAZING! I looked up what I thought would make the scariest class diagram and wasn't disappointed 😄 (https://fossies.org/dox/swift-swift-3.0.2-RELEASE/structVisitNodeResult.html)

[2017-01-25 22:05] gregheo commented on #167
**Swift ABI Stability Manifesto**

_Is it manifesto week or something?_

https://github.com/apple/swift/blob/master/docs/ABIStabilityManifesto.md

[2017-01-26 17:00] #167 closed

[2017-01-26 17:01] jessesquires opened #172 "[55] Issue #55 - February 2, 2017"

[2017-01-26 17:23] #155 closed

[2017-01-26 17:43] jessesquires opened #175 "Author page improvements"
Just a few ideas:

- Add avatars? (maybe via gravatar?)
- Add info about how to become a contributing author
- Link to the authors somewhere (maybe in [the footer](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/_includes/footer.html)?)

[2017-01-27 00:47] jessesquires commented on #172
Open source contributor Colin Howell fixed a source of exponential behavior with dictionary literals:
- https://twitter.com/slava_pestov/status/824761050356551680
- https://github.com/apple/swift/pull/7004/commits/e4ae3f03642e1c93c81b10a49e7f6b1e76333774

[2017-01-27 00:48] jessesquires commented on #172
Faster Mix-and-Match Builds with Precompiled Bridging Headers
- https://swift.org/blog/bridging-pch/
- https://twitter.com/gregheo/status/824772854742802433

[2017-01-27 00:51] jessesquires commented on #172
Unwrapping optionals 😆

https://twitter.com/ericasadun/status/824755257762840579

[2017-01-27 02:02] AquaGeek commented on #172
Mailing list meta-discussion has been reopened: https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170123/030646.html

[2017-01-27 06:57] jessesquires commented on #172
What's new in Swift 3.1
https://www.hackingwithswift.com/swift3-1

[2017-01-27 16:40] BasThomas commented on #172
Might want to add this to the Weekly as well: https://twitter.com/jckarter/status/825012717580726272

[2017-01-28 06:33] gregheo commented on #172
SE-0148, **Generic Subscripts** has been accepted!

https://github.com/apple/swift-evolution/blob/master/proposals/0148-generic-subscripts.md

https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170123/031048.html

[2017-01-30 02:26] jessesquires opened #176 "new social icons are not centered on firefox"
Safari and Chrome render correctly.

Code: https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/_includes/footer.html

Firefox:

![screen shot 2017-01-29 at 6 25 33 pm](https://cloud.githubusercontent.com/assets/2301114/22410694/650b6d08-e650-11e6-9dc0-8a9ec3663ee0.png)

[2017-02-02 13:32] BasThomas commented on #172
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170130/031235.html

[2017-02-02 17:11] #172 closed

[2017-02-02 17:14] jessesquires opened #179 "[56] Issue #56 - February 9, 2017"

[2017-02-03 21:53] BasThomas commented on #179
SE-0149 + 0150 accepted

[2017-02-05 00:14] jessesquires commented on #179
Unicode re-think:

https://github.com/apple/swift/pull/6752

[2017-02-07 00:33] jessesquires commented on #179
https://oleb.net/blog/2017/02/why-is-dictionary-not-a-mutablecollection/

[2017-02-07 19:33] jessesquires commented on #179
lol.

http://dduan.net/2017/02/07/replying-to-old-mailing-list-threads/

[2017-02-07 19:56] BasThomas commented on #179
Talking about effort 😱

[2017-02-08 01:25] jessesquires opened #181 "[Sponsorships] February"
February is booked with Forward Swift.

    link: https://forwardswift.com
    heading: ! 'Forward Swift: March 2 in San Francisco + Free Online Workshop Access'
    body: Attend a full day of cutting-edge iOS talks ranging from mirroring and introspection to watchOS. Your ticket includes free networking events with speakers/other devs, and 1 free month of online workshop access post event. Add an

[2017-02-08 04:19] gregheo commented on #179
2/6 meeting minutes from the Swift on the server workgroup about security (draft, not merged into the swift-server repo yet)

https://github.com/gtaban/work-group/blob/2da487e184d17c0ff8d1667ea83ab9438ce98a93/meetings/security/2017-02-06/minutes.md

Discussions around what the scope of the project should be, which SSL implementation to use, what a "Swifty" API is.

Draft pitch around security:
htt

[2017-02-08 07:55] BasThomas commented on #179
SE-0151 + SE-0152 under review

[2017-02-08 17:45] jessesquires opened #182 "[Sponsorships] March"
#### March

Booked: **2, 9, 16, 23** with Paul, HackingWithSwift.

----------

Booked: **March 30** with Realm.

[2017-02-09 00:56] jessesquires commented on #179
Discourse is happening:

https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170206/031657.html

[2017-02-09 17:07] #179 closed

[2017-02-09 18:10] jessesquires opened #184 "[57] Issue #57 - February 16, 2017"

[2017-02-09 21:51] jessesquires commented on #184
Changes to LLDB Branch Management

https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20170206/004048.html

[2017-02-10 23:12] AquaGeek commented on #184
Library for structured editing of Swift syntax:

https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20170206/004066.html

[2017-02-15 15:26] BasThomas commented on #184
SE-0146 implemented: https://github.com/apple/swift-evolution/pull/604/files

[2017-02-15 21:47] BasThomas commented on #184
SE-0151 + 0152 implemented: https://github.com/apple/swift-evolution/pull/605

[2017-02-15 22:10] jessesquires commented on #184
overflow/underflow
https://twitter.com/jckarter/status/831953187623952384

[2017-02-16 17:32] #184 closed

[2017-02-16 17:32] jessesquires opened #186 "[58] Issue #58 - February 23, 2017"

[2017-02-16 17:40] #181 closed

[2017-02-17 00:11] gregheo commented on #186
Swift 4 Release Process (swift dot org blog post)

https://swift.org/blog/swift-4-0-release-process/

[2017-02-17 07:19] #182 closed

[2017-02-17 17:09] jessesquires opened #187 "[Search] move to DuckDuckGo search"

[2017-02-17 17:37] jessesquires commented on #186
Swift 4, stage 2:
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170213/032116.html

[2017-02-17 17:54] gregheo commented on #186
airspeedswift posts about possible additions to the well-used `Sequence` and `Collection` protocols, such as in-place transforms, stable sorting, getting a random element, looping, etc.

https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170213/032120.html

[2017-02-17 19:25] jessesquires commented on #186
Memory Ownership + move semantics is likely coming to Swift.  Full design manifesto and TL;DR below:
https://twitter.com/clattner_llvm/status/832644452451692544

[2017-02-18 04:14] BasThomas commented on #186
153 in review
154 in review
104 in re-review
155 in review

Oh boy 😬🎉

[2017-02-18 04:21] BasThomas commented on #186
https://github.com/apple/swift-evolution/pull/600#event-967769652 Rejected / deferred
https://github.com/apple/swift-evolution/pull/591 Rejected / deferred
https://github.com/apple/swift-evolution/pull/585 Rejected / deferred

[2017-02-18 04:24] BasThomas commented on #186
![game](https://media.giphy.com/media/3o7TKVSE5isogWqnwk/giphy.gif)

[2017-02-18 20:00] gregheo commented on #186
Ownership manifesto merged into the main repo: https://github.com/apple/swift/blob/master/docs/OwnershipManifesto.md

[2017-02-18 23:28] jessesquires commented on #186
Moving more of SPM to corelibs-foundation:
https://github.com/apple/swift-package-manager/pull/964

[2017-02-19 03:56] aciidb0mb3r commented on #186
That PR moves old SwiftPM code to the new Process class. It's not the Process class from corelibs foundation (because it doesn't fit SwiftPM's requirement).

[2017-02-19 17:44] BasThomas commented on #186
Not sure if [this](https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170213/032395.html) is interesting to discuss. It raises some interesting aspects of Swift becoming a very broad-language:

[2017-02-20 01:39] jessesquires commented on #186
thanks for clarifying @aciidb0mb3r !

[2017-02-20 01:47] #144 closed

[2017-02-20 07:49] daveyostcom commented on #144
👍🏻

[2017-02-20 10:26] BasThomas commented on #144
Looking good @jessesquires! 👌

[2017-02-21 07:36] BasThomas commented on #186
Stage 2 priorities: https://github.com/apple/swift-evolution/commit/891d5d4c54e7eab5271418b2b6c720402a56ebce

[2017-02-21 21:42] jessesquires commented on #186
whatever this means: 😆

https://twitter.com/dgregor79/status/834116498712977408

[2017-02-22 18:16] jessesquires commented on #186
generic subscripts:
https://twitter.com/slava_pestov/status/834287805480079364

https://bugs.swift.org/browse/SR-4023

[2017-02-22 18:49] BasThomas commented on #186
SE-0149 implemented

[2017-02-22 19:44] BasThomas commented on #186
SE-0155 returned for revision (??, it was in review?)

[2017-02-22 20:05] BasThomas commented on #186
[SE-0104 under re-review](https://github.com/apple/swift-evolution/commit/2420a2dfa69569c18fdfea8c613e6c8789d4e3a2)

[2017-02-22 23:58] jessesquires commented on #186
https://twitter.com/dgregor79/status/834547190559182848

https://twitter.com/lorentey/status/834497999799713793

[2017-02-23 01:27] jessesquires commented on #186
https://twitter.com/b3ll/status/834552936982196224

[2017-02-23 17:22] #186 closed

[2017-02-23 17:23] jessesquires opened #189 "[59] Issue #59 - March 2, 2017"

[2017-02-23 17:25] BasThomas commented on #186
You need to publish this still, right? 😮

[2017-02-23 17:26] jessesquires commented on #186
@BasThomas haha - yes 😄 adding a few more things!

[2017-02-23 17:50] BasThomas commented on #186
Cool! Just making sure you didn't forget 😬😬😬

[2017-02-24 08:48] jessesquires commented on #189
swiftpp?

https://twitter.com/steipete/status/835043149840068608

[2017-02-25 06:52] BasThomas commented on #189
SE-0154 accepted

[2017-02-26 22:58] jessesquires commented on #189
Swift Changes Considered Harmful
http://furbo.org/2017/02/17/swift-changes-considered-harmful/

[2017-02-27 00:33] jessesquires commented on #189
https://twitter.com/SmileyKeith/status/835677088724049921

[2017-02-27 18:11] gregheo commented on #189
[A Comprehensive Rethink of Access Levels in Swift](https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170220/033112.html), Nevin Brackett-Rozinsky

Nice recap of the post-SE-0025 and SE-0117 world, rethinking public and private.

[2017-02-27 18:47] jessesquires commented on #189
https://github.com/bazelbuild/tulsi

[2017-02-28 17:42] BasThomas commented on #189
[SE-0150 implemented](https://github.com/apple/swift-evolution/pull/623)

[2017-03-01 08:30] BasThomas commented on #189
SE-0156 in review
SE-0157 in review

[2017-03-01 19:46] BasThomas commented on #189
[SE-0153 accepted](https://lists.swift.org/pipermail/swift-evolution-announce/2017-March/000327.html)

[2017-03-02 02:00] gregheo commented on #189
[SE-0104](https://github.com/apple/swift-evolution/blob/master/proposals/0104-improved-integers.md) "Protocol-oriented integers" re-reviewed and accepted with revisions.

https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170227/033372.html

[2017-03-02 16:19] jessesquires commented on #189
@BasThomas - I've still got some writing to do there 😅

[2017-03-02 17:12] #189 closed

[2017-03-02 17:13] jessesquires opened #192 "[60] Issue #60 - March 9, 2017"

[2017-03-04 19:06] jessesquires commented on #192
https://github.com/apple/swift/pull/7887

[2017-03-06 17:09] jessesquires commented on #192
https://twitter.com/olebegemann/status/838763220194242560
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170227/033445.html

[2017-03-07 20:49] BasThomas commented on #192
SE-0159 (https://github.com/apple/swift-evolution/blob/master/proposals/0158-package-manager-manifest-api-redesign.md) in review

[2017-03-08 00:06] jessesquires commented on #192
https://twitter.com/nicklockwood/status/839264831362502656

https://twitter.com/UINT_MIN/status/839259261716746240

https://twitter.com/olebegemann/status/839263316258193409

https://twitter.com/modocache/status/839234374704955392

[2017-03-08 16:13] jessesquires commented on #192
https://github.com/apple/swift/pull/7777

[2017-03-08 16:18] jessesquires commented on #192
https://twitter.com/slava_pestov/status/839289812964139008

https://github.com/apple/swift/pull/7967

[2017-03-09 02:44] jessesquires commented on #192
https://oleb.net/blog/2017/03/enums-equatable-exhaustiveness/

[2017-03-09 15:32] #192 closed

[2017-03-09 15:32] jessesquires opened #195 "[61] Issue #61 - March 16, 2017"

[2017-03-12 23:49] jessesquires commented on #195
http://modocache.io/swift-stdlib-tool

https://twitter.com/modocache/status/841014140290363392
https://blog.regehr.org/archives/1453

[2017-03-13 17:16] jessesquires commented on #195
https://www.skilled.io/u/swiftsummit/contributing-to-the-swift-compiler

[2017-03-14 04:40] jessesquires commented on #195
https://twitter.com/slava_pestov/status/841502701821153280

[2017-03-14 17:32] jessesquires commented on #195
https://twitter.com/tkremenek/status/841179077130170368

cc @modocache if you would like to write the blurb for this 😄

[2017-03-15 01:42] jessesquires commented on #195
https://github.com/swift-server/work-group/pull/74

[2017-03-15 02:42] jessesquires commented on #195
https://twitter.com/slava_pestov/status/841814023507136512

[2017-03-16 16:47] #195 closed

[2017-03-16 16:48] jessesquires opened #196 "[62] Issue #62 - March 23, 2017"

[2017-03-17 05:55] jessesquires commented on #196
https://twitter.com/clattner_llvm/status/842590310525947906

[2017-03-20 15:10] jessesquires commented on #196
http://lists.llvm.org/pipermail/llvm-dev/2017-March/111025.html

[2017-03-20 19:35] BasThomas commented on #196
https://oleb.net/blog/2017/03/swift-themed-releases/

[2017-03-21 07:58] BasThomas commented on #196
https://github.com/apple/swift-evolution/pull/651

[2017-03-21 10:12] BasThomas commented on #187
https://duckduckgo.com/search_box

[2017-03-21 10:14] BasThomas commented on #187
Something like

[code]

Not sure what we can do with the fixed width?

[2017-03-21 16:20] jessesquires commented on #187
can do something like this:

https://github.com/jessesquires/jessesquires.github.io/blob/master/search.html

😄

[2017-03-22 15:35] jessesquires commented on #196
swift-stdlib-tool open source:
https://github.com/apple/swift/pull/8258

[2017-03-23 08:08] BasThomas commented on #196
[SE-0155 revision 2](https://github.com/apple/swift-evolution/pull/635#issuecomment-288602454) (review round not yet started)

[2017-03-23 17:00] #196 closed

[2017-03-23 17:00] jessesquires opened #203 "[63] Issue #63 - March 30, 2017"

[2017-03-30 12:27] BasThomas commented on #203
Slava voiced some concerns about Swift Evolution, and I wrote a blog post about it: https://basthomas.github.io/swift-evolution-without-swift-evolution

[2017-03-30 16:14] jessesquires opened #204 "[64] Issue #64 - April 6, 2017"

[2017-03-30 16:45] #203 closed

[2017-04-01 00:10] jessesquires commented on #204
https://twitter.com/jckarter/status/847844818461933569

https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170327/034752.html

[2017-04-02 17:49] jessesquires commented on #204
Refactoring tools for Swift:

https://twitter.com/simjp/status/848288462952316928

https://twitter.com/simjp/status/848288609006309376

[2017-04-02 20:18] jessesquires commented on #204
lol
https://twitter.com/harlanhaskins/status/848172027760574465

[2017-04-03 02:03] jessesquires commented on #204
https://twitter.com/simjp/status/848707039966646272

[2017-04-04 01:23] jessesquires commented on #204
welp

https://lists.swift.org/pipermail/swift-evolution-announce/2017-April/000337.html

https://twitter.com/slava_pestov/status/849051907435839488

[2017-04-04 07:08] BasThomas commented on #204
Well then, that's settled. 😁

[2017-04-05 04:47] jessesquires commented on #204
keypath proposal:
https://twitter.com/jckarter/status/849471704871174146

[2017-04-05 18:37] jessesquires commented on #204
greg heo's images are 👌

https://swiftunboxed.com/lang/reduce/

[2017-04-06 02:58] gregheo commented on #204
Yet Another Sequence-related proposal from the illustrious airspeedswift:

Add an all algorithm to Sequence
https://github.com/airspeedswift/swift-evolution/blob/9a778e904c9be8a3692edd19bb757b23c54aacbe/proposals/0162-all-algorithm.md

[2017-04-06 03:03] gregheo commented on #204
Don't hear too much about swift-users, but there are some tips on how to narrow down compiler crashes to help debug:

https://lists.swift.org/pipermail/swift-users/Week-of-Mon-20170403/005143.html

[2017-04-06 17:06] #204 closed

[2017-04-06 17:07] jessesquires opened #209 "[65] Issue #65 - April 13, 2017"

[2017-04-07 08:54] BasThomas commented on #209
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170403/035247.html

[2017-04-08 16:22] IOOI-SqAR opened #212 "There's a nice Swift IDE for Linux out there."
Have a look at https://tifig.net

[2017-04-10 15:48] jessesquires commented on #209
Swift IDE for Linux: https://tifig.net (#212)

[2017-04-10 15:49] jessesquires commented on #212
thanks @IOOI-SqAR !

we'll include this in #209

[2017-04-10 15:49] #212 closed

[2017-04-11 19:06] BasThomas commented on #209
[SE-0162 implemented](https://github.com/apple/swift-package-manager/pull/1077)

[2017-04-12 03:11] gregheo commented on #209
ABI Dashboard – https://swift.org/abi-stability/

(https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20170410/004367.html)

[2017-04-12 21:41] jessesquires commented on #209
https://twitter.com/SmileyKeith/status/852203916561268736

https://github.com/br1sk/brisk

[2017-04-13 15:13] #209 closed

[2017-04-13 15:15] jessesquires opened #214 "[66] Issue #66 - April 20, 2017"
Is anyone interesting in taking this issue for next week?

If not, I'll be taking a break and resume April 27.

cc: @gregheo @BasThomas @modocache @jpsim

[2017-04-13 16:58] gregheo commented on #214
I'm down to write one @jessesquires!

[2017-04-13 19:44] jessesquires commented on #214
Woo! 🎉  Thanks @gregheo ! This issue is all yours!

[2017-04-13 20:23] BasThomas commented on #214
Yay! Looking forward, @gregheo 🙂
And @jessesquires - I'm always open to help out, so let me/us know when you want to take a break again. 🙂

[2017-04-13 22:58] jessesquires commented on #214
@BasThomas -- Actually, do you want to take the week after Greg? 😄

[2017-04-13 23:27] jessesquires commented on #214
Initial draft pushed 📌

[2017-04-13 23:32] gregheo commented on #214
@jessesquires at this rate you should just write the thing; how about you relax and let the week's maintainer handle the work? 😜

[2017-04-14 00:47] jessesquires commented on #175
960f597622b8e0c2159a15cf48d4e13228994839

[2017-04-14 00:47] #175 closed

[2017-04-14 03:24] BasThomas commented on #214
Sure, @jessesquires! 🙌

[2017-04-14 09:42] BasThomas commented on #68
Can I help with this?

[2017-04-14 14:37] jessesquires commented on #68
@BasThomas sure! I've been slacking here 😄

[2017-04-14 16:14] BasThomas commented on #68
Let me see if I can this running on a dummy account and see how it does. :)

[2017-04-17 04:13] gregheo commented on #214
Yet Another Access Control Pitch: Flexible Scoping
(thread) https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170410/035722.html

https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170410/035751.html

https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170410/035760.html

Maybe need to spin off a new "Weekly Access Control Newsletter"? 🤔

[2017-04-17 13:27] gregheo commented on #214
The true meaning of "safe" in Swift

https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170410/035791.html

[2017-04-17 14:43] jessesquires commented on #214
LOL 😆

[2017-04-17 14:44] jessesquires commented on #214
Why does no one understand that **keywords cannot be changed** at this point.

[2017-04-17 15:23] BasThomas commented on #214
`unless`...

[2017-04-17 17:20] jessesquires commented on #214
Swift unwrapped ep 7: https://spec.fm/podcasts/swift-unwrapped/65851 😄

[2017-04-18 00:42] jessesquires commented on #214
169 accepted: https://lists.swift.org/pipermail/swift-evolution-announce/2017-April/000357.html

[2017-04-18 00:51] jessesquires commented on #214
😆 : https://twitter.com/jckarter/status/854029235299639303

😍 : https://twitter.com/steipete/status/854070434354147328

[2017-04-18 06:45] BasThomas commented on #214
Radar looks: https://twitter.com/an0/status/854066062605897728

[2017-04-18 07:15] BasThomas commented on #214
[SE-0148](https://github.com/apple/swift-evolution/commit/e02d119da20bd8b043513e4faaf9048937ac9545) and [SE-0160](https://github.com/apple/swift-evolution/commit/c456ad8d41819b91a69d09c292b6969d19691723) have been implemented.

[2017-04-18 13:06] gregheo commented on #214
Look at stack of commits here?
https://github.com/apple/swift/pull/8770

[2017-04-18 20:23] BasThomas commented on #214
[SE-104](https://github.com/apple/swift-evolution/commit/eb48c26a91cd30d0052b9642efef385eed7e0bde) implemented!

[2017-04-19 04:41] gregheo commented on #214
@jessesquires assuming there's no sponsor this issue, based on the "– – –" on the sponsorship page? 🤔

[2017-04-19 05:28] gregheo commented on #214
Final notes to self:

- [ ] Xcode 8.3.2
- [ ] [Learning from SE-0025, a breeding group for Swift proposals](https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170417/035871.html)
- [ ] write a limerick

[2017-04-19 06:44] BasThomas commented on #214
@gregheo I think Jesse wasn't expecting to write an issue this week, which is why it's `– – –`.

[2017-04-19 16:21] jessesquires commented on #214
@gregheo @BasThomas -- correct 😄 no sponsor this week!

@gregheo issue draft looks amazing! 🙌

[2017-04-20 06:43] BasThomas commented on #214
SE-0161 WIP commit: https://github.com/apple/swift/pull/8875

[2017-04-20 07:43] BasThomas commented on #214
Also, @gregheo, the issue is looking fantastic! That limerick 🤣

[2017-04-20 09:16] BasThomas opened #223 "Sort authors by amount of posts"
The authors page (http://swiftweekly.github.io/authors/) is now "sorted" by the list [here](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/_data/authors.yml). It might be nice if we can sort them by amount of posts.

[2017-04-20 12:16] gregheo commented on #214
Last looks before publication:

- [ ] https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20170417/004405.html
- [ ] 8875 WIP as above
- [ ] read through backwards

[2017-04-20 13:30] #214 closed

[2017-04-20 14:07] gregheo commented on #214
@jessesquires ping, pls tweet from swiftlybrief at your convenience

[2017-04-20 14:07] BasThomas commented on #214
Woo, nice work!

[2017-04-20 14:08] BasThomas opened #224 "[67] Issue #67 - April 27, 2017"

[2017-04-20 15:27] jessesquires commented on #214
awesome! thanks so much @gregheo ! 🥇

[2017-04-20 15:42] jessesquires commented on #224
@BasThomas thanks so much for doing all the GH issue maintenance! 🙌

[2017-04-20 16:43] BasThomas commented on #224
You're welcome. 😃

[2017-04-20 16:55] BasThomas commented on #224
SE-0165 accepted

[2017-04-20 20:27] BasThomas commented on #224
[SE-0155](https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170417/035972.html) accepted

[2017-04-21 13:11] gregheo commented on #224
Couple of interesting pre-proposal pitches from Apple folks on the mailing lists:

"Should we just always import C/ObjC types under their Swift 4 names, and use typealiases in Swift 3 mode?" — dealing with renamed types when mixing and matching Swift 3/4 code.
https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20170417/004408.html

Replacing the `swap` function with something that follows the

[2017-04-21 20:32] jessesquires commented on #224
swift server group notes:
https://github.com/swift-server/work-group/pull/80

[2017-04-22 18:06] jessesquires commented on #224
Code size reduction:

[2017-04-23 18:41] jessesquires commented on #224
SE-0168 implementation
https://github.com/apple/swift/pull/8813

[2017-04-24 06:08] BasThomas commented on #224
https://twitter.com/slava_pestov/status/856367181898039296

[2017-04-24 06:08] BasThomas commented on #224
https://twitter.com/slava_pestov/status/856369805648998400

[2017-04-24 15:46] jessesquires commented on #224
Swift unwrapped 😊

https://spec.fm/podcasts/swift-unwrapped/66634

[2017-04-24 22:09] gregheo commented on #224
announcement: https://swift.org/blog/swift-source-compatibility-test-suite/

repo: https://github.com/apple/swift-source-compat-suite

tweet: https://twitter.com/tkremenek/status/856629269828575232

[2017-04-25 05:03] BasThomas commented on #224
https://mobile.twitter.com/slava_pestov/status/856699695573245955

[2017-04-25 20:52] BasThomas commented on #224
SE-0172 accepted, SE-0171 accepted, SE-0173 in review

[2017-04-25 20:55] jessesquires commented on #224
call for assistance:
https://twitter.com/ericasadun/status/856942755162996737

bad swift things:
http://ericasadun.com/2017/04/25/bad-swift-things-we-do-because-we-can/

[2017-04-26 02:50] gregheo commented on #224
"Multi-line string literals are in!"
https://twitter.com/Ilseman/status/857042195961978880

And a starter task: SR-4701 Starter: better diagnostics for multi-line string literals
https://bugs.swift.org/browse/SR-4701

[2017-04-26 17:01] gregheo commented on #224
SE-0167 accepted
https://lists.swift.org/pipermail/swift-evolution-announce/2017-April/000368.html
https://github.com/apple/swift-evolution/blob/master/proposals/0167-swift-encoders.md

[2017-04-27 01:31] jessesquires commented on #224
proposal to change SPM pinning:

https://twitter.com/rballard/status/857392666660683777
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170424/036203.html

[2017-04-27 07:26] BasThomas commented on #224
https://twitter.com/slava_pestov/status/857457182803021824

[2017-04-27 15:59] #224 closed

[2017-04-27 16:00] jessesquires opened #242 "[68] Issue #68 - May 4, 2017"

[2017-04-27 16:07] jessesquires commented on #242
Hey all @SwiftWeekly/writers — is anyone up for taking on this issue? 😄

(if not, I'll be taking this week off 😊)

[2017-04-28 05:26] BasThomas commented on #242
SE-0156 implemented: https://github.com/apple/swift/pull/9090

[2017-04-28 20:03] BasThomas commented on #242
170 accepted, 172 implemented

[2017-04-29 11:29] BasThomas commented on #242
174 review

[2017-04-29 21:57] BasThomas commented on #242
173 accepted + implemented

[2017-04-30 21:07] gregheo commented on #242
Are you writing this issue @BasThomas? Just want to be sure someone is before I add some notes 😄

[2017-05-01 06:39] BasThomas commented on #242
No, just noting things. :)

[2017-05-01 07:32] BasThomas commented on #242
https://twitter.com/slava_pestov/status/858946072189607937

[2017-05-01 09:25] BasThomas commented on #242
Better multi-line string diagnostics: https://github.com/apple/swift/pull/9148

[2017-05-01 09:27] BasThomas commented on #242
PR for implementation of SE-0169: https://github.com/apple/swift/pull/9098

[2017-05-01 17:38] jessesquires commented on #242
@BasThomas - do you want to take this issue? (because I'm still off the grid 😅 )

[2017-05-01 20:54] BasThomas commented on #242
🤔, I guess I can do that. Wrote half of it here in the comments already, so... 😜

[2017-05-01 23:37] jpsim commented on #242
Not sure if this has been brought up yet, but https://github.com/apple/swift/pull/8908 just landed and is pretty dope. Also has a marketing-worthy name to it: "Space Engine"

![Space Engine](https://cloud.githubusercontent.com/assets/474794/25598858/6c2b75cc-2e8c-11e7-825e-22912d321567.gif)

[2017-05-02 04:56] jessesquires commented on #242
Thanks @BasThomas ! 🙌 ❤️

Just pushed a draft.

[2017-05-02 07:35] BasThomas commented on #242
Proposal draft for a part of the Ownership Manifesto: https://github.com/apple/swift-evolution/pull/702

[2017-05-02 19:15] BasThomas commented on #242
https://github.com/apple/swift-evolution/pull/704

[2017-05-03 18:48] jessesquires commented on #242
😆  https://twitter.com/steipete/status/859832487719182343

[2017-05-04 11:19] BasThomas opened #247 "Update Danger"
While moving a post from `_drafts` to `_posts` is still failing - `danger-prose` seems to not handle this case very well - I also saw Danger is pretty out of date. I'm not sure if updating will fix the issue (probably not, unfortunately), but I think it would not be a bad idea to update Danger anyway.

[2017-05-04 13:04] BasThomas commented on #68
I've been testing this over the past few weeks and it seems like it's working with IFTTT. In your IFTTT Settings though, make sure to disable link shortening to prevent the usage of `ift.tt` urls instead of `swiftweekly.github.io`

[2017-05-04 13:08] BasThomas commented on #68
![img_0285](https://cloud.githubusercontent.com/assets/4190298/25704793/31cba86a-30db-11e7-9ea7-7d7412c373d6.PNG)
This is the recipe I am using. Obviously, we would not want to send a DM, put to post a tweet. ☺️

This posts eg. `Issue #68 swiftweekly.github.io/issue-68 written by Bas Broek`... only thing is it uses the author name, not the Twitter name. I think this can be changed?

[2017-05-04 14:34] jessesquires commented on #242
closed by #246

[2017-05-04 14:34] #242 closed

[2017-05-04 14:35] jessesquires opened #249 "[69] Issue #69 - May 11, 2017"

[2017-05-04 14:44] #247 closed

[2017-05-04 14:49] jessesquires opened #250 "update gh-pages"
https://github.com/github/pages-gem/releases

[2017-05-04 17:36] jessesquires commented on #68
This is great! 💯

@BasThomas -- thanks so much for looking into this. I'll get this setup over the weekend.

Still need to create an IFTTT account 😅  lol

I'm not sure about author name vs twitter handle.

IFTTT uses the rss/atom tags right?

[2017-05-04 17:46] BasThomas commented on #68
Yes, the `{{EntryTitle}}` stuff just hooks into the RSS feed.

[2017-05-04 18:05] BasThomas commented on #242
How could I have forgotten [this](https://twitter.com/jckarter/status/859114207077322752) tweet :(. @jessesquires, you threw me off-guard 😆

[2017-05-04 21:20] jessesquires commented on #242
that is amazing

[2017-05-04 21:20] jessesquires commented on #249
abs:
https://twitter.com/jckarter/status/859114207077322752

😆

[2017-05-06 10:11] BasThomas commented on #249
174 accepted

[2017-05-07 17:32] jessesquires commented on #249
https://twitter.com/slava_pestov/status/861121022233161728

[2017-05-07 19:50] jessesquires commented on #249
https://github.com/apple/swift/pull/9148

[2017-05-07 19:53] #250 closed

[2017-05-07 19:54] BasThomas commented on #249
I mentioned that PR in the last issue. ☺️

[2017-05-08 12:58] BasThomas commented on #249
https://twitter.com/olebegemann/status/861563808854269953

[2017-05-08 19:31] benasher44 commented on #249
Starter task (contains notes for implementer and repro case): https://bugs.swift.org/browse/SR-4827

[2017-05-09 11:26] hollanderbart opened #254 "Paragraph is under wrong header"
SE-0175 is under review, while it is mentioned as 'accepted proposal'.

[2017-05-09 12:08] BasThomas commented on #254
Thanks for catching that! I've opened a PR to fix that.

[2017-05-09 12:10] #254 closed

[2017-05-09 15:38] jessesquires commented on #249
thanks @benasher44 ! 🙌

[2017-05-09 21:14] BasThomas commented on #249
https://github.com/apple/swift-evolution/pull/708#issuecomment-300302772 😆

[2017-05-11 15:35] #249 closed

[2017-05-11 15:37] jessesquires opened #256 "[70] Issue #70 - May 18, 2017"

[2017-05-11 15:43] jessesquires commented on #68
lol forgot to do this 😢 will definitely do it this week!

[2017-05-11 15:58] jessesquires commented on #68
ok! just set this up. not sure if it's working. i guess we'll see next week 😅

[2017-05-11 15:58] #68 closed

[2017-05-11 16:07] BasThomas commented on #68
Woo, nice! If you're not sure - I tested it for two weeks just sending myself a Twitter DM instead of tweeting. :)

[2017-05-12 20:57] BasThomas commented on #256
178 in review

[2017-05-13 15:02] BasThomas commented on #256
176 "[accepted pending revision](https://github.com/apple/swift-evolution/commit/79bdcf97f544d83599103ffb96f236a8e0ede5fe)"

[2017-05-14 20:28] BasThomas commented on #256
163 in (re)review

[2017-05-16 03:42] BasThomas commented on #256
179 in review

[2017-05-16 04:12] jessesquires commented on #256
Xcode ref in SPM:
https://twitter.com/SmileyKeith/status/862444840008548352
https://github.com/apple/swift-package-manager/blob/6776ca8bd7cdacfca6422391808b6a819d4a06eb/Sources/Commands/Destination.swift#L57-L75

[2017-05-16 14:50] BasThomas opened #258 "Add more info to tweets?"
I think we can do better with the tweets. They are generic, and don't really give any idea as to what has been written about that week... but we do have a bunch of characters left to do so.

[2017-05-16 16:08] jessesquires commented on #258
Ha 😄

Agreed, but how since they are automated?

[2017-05-16 16:09] jessesquires commented on #258
The twitter preview does provide a few sentences:

<img width="586" alt="screen shot 2017-05-16 at 9 09 04 am" src="https://cloud.githubusercontent.com/assets/2301114/26116266/63c84f72-3a17-11e7-8a21-020454c612e4.png">

[2017-05-16 16:23] BasThomas commented on #258
Ha, that's actually pretty good. Oh Tweetbot.

This might not be that big of an issue then.

@automation: I think we could access some yaml tag and use that.

[2017-05-17 13:25] BasThomas commented on #256
https://twitter.com/olebegemann/status/864832511339266049

[2017-05-17 13:57] jessesquires commented on #256
https://twitter.com/ericasadun/status/864659925863202817

[2017-05-17 13:58] jessesquires commented on #256
@BasThomas lol i just came here to put those links too 😄

[2017-05-17 14:18] BasThomas commented on #256
Great minds think alike 😊

[2017-05-17 18:26] BasThomas commented on #256
178 accepted + implemented

[2017-05-18 16:14] jessesquires commented on #256
lol oops. Behind on this. Going to publish later tonight or tomorrow morning instead!

[2017-05-19 05:19] garricn commented on #256
Next weeks episode of The SwiftCoders Podcast will feature an interview with Robert Widmann and we talk a lot about Open Source Swift. Episode will be out by Tuesday night. I will post the link here if you want to include it.

[2017-05-19 05:22] garricn commented on #256
Sorry, maybe I'm confused. Is this issue for next week? I received issue 69 today. Anyhoo, I'll post the link when it's published :)

[2017-05-19 07:14] BasThomas commented on #256
Hey @garricn - there was a problem with mailing last week and apparently last week's emails went out this week. That, plus this week's issue will go out a day later (the 19th). Sorry for the confusion!

So: this issue is for *this* week, 71 is for next week (the 25th). Just post in either and we'll see it :)

[2017-05-19 07:26] BasThomas commented on #256
163 re-reviewed and accepted

[2017-05-19 08:12] BasThomas commented on #256
https://twitter.com/slava_pestov/status/865473324679168000

[2017-05-19 17:53] jessesquires opened #260 "[71] Issue #71 - May 25, 2017"

[2017-05-19 17:54] jessesquires commented on #256
@garricn -- ha, sorry about the confusion. 😄 post the link at #260. also feel free to add it directly to the draft.

[2017-05-19 17:58] #256 closed

[2017-05-19 18:45] jessesquires commented on #68
it works!

https://twitter.com/swiftlybrief/status/865638949384994818

[2017-05-19 18:58] BasThomas commented on #68
Yay!

[2017-05-20 10:21] BasThomas commented on #68
The only thing we should still try to figure out is if we can use the author's Twitter handle instead of the author's full name. 🤔

[2017-05-25 05:49] BasThomas commented on #260
Don't forget it's Thursday, @jessesquires. 😜

[2017-05-25 05:50] jessesquires commented on #260
@BasThomas LOL 😄 😅

Not yet in California! 😛

[2017-05-25 05:50] jessesquires commented on #260
going to be a quiet issue 😊

[2017-05-25 05:55] BasThomas commented on #260
A quiet issue indeed. It might be even worth taking a short breaking until after WWDC maybe?

[2017-05-25 06:20] #260 closed

[2017-05-25 06:20] jessesquires opened #262 "[72] Issue #72 - June 1, 2017"

[2017-05-26 17:28] davidchiles commented on #262
https://twitter.com/calebd/status/867739062706286592

[2017-05-26 17:52] garricn commented on #262
Interview with Robert Widmann: https://swiftcoders.podbean.com/?p=7021942
😄

[2017-05-26 18:57] jessesquires commented on #262
awesome! 💯 thanks @garricn ! 🎉

[2017-06-01 17:22] #262 closed

[2017-06-01 17:23] jessesquires opened #265 "[73] Issue #73 - June 9, 2017"

[2017-06-01 17:56] jessesquires commented on #265
Programming toys with playgrounds 😱
https://www.youtube.com/watch?v=v7926MzvXOQ

[2017-06-01 17:58] jpsim commented on #265
The robot uprising is upon us. #SwiftySkynet

[2017-06-01 18:56] garricn commented on #262
Use this link!
https://swiftcoders.eventfarm.com/

[2017-06-01 19:54] jessesquires commented on #265
Erica's book on sale ❤️
http://ericasadun.com/2017/06/01/swift-style-wwdc-sale/

[2017-06-04 18:12] jessesquires commented on #265
Reduce code size of std lib:

https://github.com/apple/swift/pull/10096

[2017-06-05 20:04] jessesquires commented on #265
https://twitter.com/ericasadun/status/871819962888802304

[2017-06-05 22:29] jessesquires commented on #265
https://twitter.com/SmileyKeith/status/871852588844556288

[2017-06-06 00:54] jessesquires commented on #265
State of SPM 4 + Xcode9
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170605/037002.html

[2017-06-06 01:05] jessesquires commented on #265
Xcode9 release notes:
http://adcdownload.apple.com/WWDC_2017/Xcode_9_beta/Xcode_9_beta_Release_Notes.pdf

[2017-06-06 03:42] BasThomas commented on #265
"open sourcing refactoring and other goodies announced at WWDC"
https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20170605/004751.html

[2017-06-06 04:16] jessesquires commented on #265
open sourcing refactoring and other goodies announced at WWDC
https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20170605/004751.html

[2017-06-06 04:17] jessesquires commented on #265
@BasThomas lol 😆

[2017-06-06 13:52] BasThomas commented on #265
https://github.com/swift-server/http

[2017-06-06 18:03] jessesquires commented on #265
Beta Downloads

https://developer.apple.com/news/?id=06052017d

[2017-06-08 18:19] jessesquires commented on #265
WWDC videos:

What's new in Swift
https://developer.apple.com/videos/play/wwdc2017/402/

[2017-06-09 05:02] jessesquires commented on #265
using the undefined behavior sanitizer in xcode 9:
https://github.com/apple/swift/pull/10175

[2017-06-09 16:16] #265 closed

[2017-06-09 16:27] jessesquires opened #266 "[Help wanted] Writers for upcoming issues in June and July"
### Taking time off

Hey everyone 😄

I will be "off the grid" coming up and I'm looking for volunteers for the next few issues. If no one is available, that's fine, we'll just take a break for those weeks.

### Upcoming issues:

- [x] 74: June 15, @benasher44
- [x] 75: June 22 @gregheo
- [x] 76: June 29 @garricn
- [x] 77: July 6 @RomanVolkov

### Responsibilities:

I'll be getting online periodica

[2017-06-09 16:29] jessesquires commented on #266
cc @gregheo @BasThomas @modocache — let me know if you guys are interested! If not, that's ok too. 😄

[2017-06-09 16:50] jessesquires commented on #266
If interested, please comment here and I'll update the main issue! 👍

[2017-06-09 16:52] benasher44 commented on #266
I'd be happy to do #74!

[2017-06-09 16:57] jessesquires commented on #266
@benasher44 Just added you to the `authors.yml` and GH org. https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/_data/authors.yml#L21-L24

[2017-06-09 17:16] jessesquires opened #267 "[74] Issue #74 - June 15, 2017"

[2017-06-09 17:19] jessesquires commented on #267
Pushed the initial empty draft in `_drafts/`

[2017-06-09 19:45] BasThomas commented on #266
And here I was thinking you just got "on the grid". 🤔
I am afraid I wont be able to write any full issues - graduation and all that. Like Jesse though, I will of course be hanging around, so let me know if there's any questions and I am happy to help out. 😃

[2017-06-09 19:53] jessesquires commented on #266
@BasThomas - Ha, yeah 😅 After this, I'll be back and won't be leaving for awhile.

[2017-06-09 20:28] gregheo commented on #266
I'll take 75. If there's a lack of volunteers, I can publish 75 on the 29th so there's an issue every two weeks.

[2017-06-09 20:42] jessesquires commented on #266
Thanks @gregheo ! 👍  Sounds good to me.

If we don't have anymore volunteers, I'll update the schedule in the main issue.

[2017-06-09 20:53] garricn commented on #266
I can do 76

[2017-06-09 21:06] RomanVolkov commented on #266
I would like to get 77.

[2017-06-09 22:12] jessesquires commented on #266
Thanks @garricn and @RomanVolkov ! If you have any questions, let me know.

@BasThomas Should also be able to help answer questions. 😄

[2017-06-10 03:37] garricn commented on #266
Looking forward to it 🤗 Thank you for the opportunity!

[2017-06-10 04:02] BasThomas commented on #266
Awesome, thanks all! Looking forward to these 😃

[2017-06-10 05:07] RomanVolkov commented on #266
Cool👍🏻

[2017-06-10 18:53] gregheo commented on #258
Newsletter logo & title at minimum, so it says "Swift Weekly Brief Issue 66" in the card. Easy to do with some extra meta tags (https://dev.twitter.com/cards/overview)

[2017-06-11 21:16] jessesquires commented on #267
https://github.com/apple/swift/pull/10195

https://github.com/apple/swift/pull/10191

[2017-06-12 13:34] BasThomas commented on #267
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170612/037339.html

https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170612/037340.html

[2017-06-13 11:27] BasThomas commented on #266
Friendly ping, @benasher44 :)

[2017-06-13 12:40] benasher44 commented on #266
Hi! Did I forget something? I've been working on 74 locally and will push my WIP branch this morning!

[2017-06-13 12:49] BasThomas commented on #266
Nice!

[2017-06-13 14:55] benasher44 commented on #266
What I have for 74 so far is up! #268

[2017-06-13 14:55] benasher44 commented on #267
See #268

[2017-06-13 15:36] benasher44 commented on #267
The bulk of the content for 74 is ready, pending anything else that happens over the next day or so. Still on the lookout for something fun for the end!

[2017-06-14 02:47] garricn commented on #266
To be sure, when should the "next" issue be created and what time period should it cover? For example, issue 74 will be released this Thursday, correct? So should Issue 75 be created on Thursday after Issue 74 is released and should it cover the time period of this Thursday through the following Wednesday?

[2017-06-14 02:49] gregheo commented on #266
@garricn that sounds about right. You could create the draft earlier in `_drafts` with no ill effects, but makes sense to run the script on Thursday so there's only one issue "in flight" at a time.

[2017-06-14 09:04] jessesquires commented on #266
yep! that's right @garricn ! 👍

thanks @gregheo ! ❤️

[2017-06-14 09:05] jessesquires commented on #267
potential "and finally":

https://twitter.com/jckarter/status/874397984712163331 😊

[2017-06-14 09:20] jessesquires commented on #267
https://github.com/apple/swift/pull/10229

https://github.com/apple/swift/pull/10223

[2017-06-15 01:40] garricn commented on #267
Not sure if this is relevant but it seems interesting: https://github.com/apple/swift/pull/10263#issuecomment-308601897

[2017-06-15 07:16] jessesquires commented on #267
@garricn nice find! 💯

[2017-06-15 07:18] jessesquires commented on #267
Looks like this issue is good to go! #269

Closing out this task.

[2017-06-15 07:18] #267 closed

[2017-06-15 07:50] jessesquires opened #270 "[75] Issue #75 - June 22, 2017"
Thanks @gregheo 🙌

[2017-06-16 03:00] gregheo commented on #270
Joe Groff on Twitter break 😭
https://twitter.com/jckarter/status/875401073447419904

[2017-06-16 03:02] gregheo commented on #270
Swift Migrator
https://github.com/apple/swift/tree/master/lib/Migrator

https://twitter.com/slava_pestov/status/875150641269571584

[2017-06-16 18:07] garricn commented on #270
Already imroving Codable: https://github.com/apple/swift/pull/10321

[2017-06-17 04:27] garricn commented on #270
Seems interesting: https://github.com/apple/swift/pull/9457

[2017-06-18 09:26] garricn commented on #270
Turning the other cheek: https://twitter.com/aciidb0mb3r/status/876365317492031488

[2017-06-18 11:46] jessesquires commented on #270
Upstreaming the UndefinedBehaviorSanitizerRuntime and MainThreadCheckerRuntime plugins

https://github.com/apple/swift-lldb/pull/211
https://github.com/apple/swift-lldb/pull/212

[2017-06-20 01:42] gregheo commented on #270
Addressing the SE-0110 usability regression in Swift 4
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170619/037616.html

Integers and their protocols
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170612/037593.html
ref https://github.com/apple/swift-evolution/blob/master/proposals/0104-improved-integers.md
https://gist.github.com/xwu/d68baefaae9e9291d2e65bd12ad5

[2017-06-20 16:16] garricn commented on #270
No apologies necessary, stay with us! https://twitter.com/austinzheng/status/877054901620101120

[2017-06-21 02:03] gregheo commented on #270
Anyone need a seasoned engineering lead?
https://twitter.com/clattner_llvm/status/877341760812232704

[2017-06-21 03:02] BasThomas commented on #270
😱

[2017-06-21 04:02] gregheo opened #277 "Add a contributor code of conduct"
See https://github.com/SwiftWeekly/swiftweekly.github.io/community

[2017-06-21 10:50] jessesquires commented on #270
@gregheo saw that. 😱

also:
https://mobile.twitter.com/clattner_llvm/status/877353276676612102

https://mobile.twitter.com/modocache/status/877360248172007424

[2017-06-21 12:25] jessesquires commented on #277
excellent idea!

[2017-06-21 21:35] gregheo commented on #270
beta 2 seeds
http://adcdownload.apple.com/Developer_Tools/Xcode_9_beta_2/Release_Notes_for_Xcode_9_beta_2.pdf

[2017-06-22 10:18] jessesquires commented on #258
With #278 merged, I think we're good here? Probably not much else that's actionable at the moment... ?

[2017-06-22 10:18] #258 closed

[2017-06-22 10:19] BasThomas commented on #258
Yep, think so!

[2017-06-22 10:23] jessesquires commented on #270
@gregheo Draft looks amazing. 🙌  Always impressed with your writing. 😎 (That compliment *does not* mean we're friends, fyi.)

[2017-06-22 10:42] #277 closed

[2017-06-22 13:12] #270 closed

[2017-06-22 13:12] gregheo commented on #270
@jessesquires "_friends_" then "friends" then friends. I'm working my way up. 🏔

[2017-06-22 16:03] garricn opened #280 "[76] Issue #76 - June 29, 2017"

[2017-06-22 16:54] jessesquires commented on #280
thanks @garricn ! 🎉

[2017-06-23 03:20] jpsim commented on #280
https://twitter.com/catfish_man/status/877991651548975104

[2017-06-23 03:50] gregheo commented on #280
SE-0180 back in review
https://github.com/apple/swift-evolution/blob/master/proposals/0180-string-index-overhaul.md

[2017-06-23 21:18] jessesquires commented on #280
Swift for VS code -- important for non-Apple Platform Swift development
https://owensd.io/2017/06/02/apous-early-preview/

[2017-06-24 01:14] garricn commented on #280
Evo app's Swift backend is not open source: https://github.com/unnamedd/swift-evolution-backend

[2017-06-24 05:25] BasThomas commented on #280
How Swift's `sort()` is optimized: https://twitter.com/stevenhepting/status/878339681485635585

[2017-06-24 07:53] garricn commented on #280
I consume therefore I am: https://twitter.com/harlanhaskins/status/878499165663240192

[2017-06-24 16:53] garricn commented on #280
@gregheo Regarding SE-0180, the proposal is in Active Review but there is already a PR opened that implements it. Is that normal?

[2017-06-24 17:01] garricn commented on #280
Asking for feedback on Swift Evolution: https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170619/037672.html

[2017-06-24 17:27] BasThomas commented on #280
@garricn: on an active proposal with its implementation already done: that happens from time to time, yep!

[2017-06-24 17:30] gregheo commented on #280
@garricn normal, as Bas mentioned. It's not merged in, so it's a good chance to get an early look and then spot some issues as happened here

[2017-06-24 19:29] garricn commented on #280
I enjoy these Swift puzzles. I hope to see more: https://twitter.com/codafi_/status/878330155642396673

[2017-06-25 23:31] gregheo commented on #280
Brisk, a macOS app for submitting radars (mentioned before in this publication) hits v1.0 and a quick 1.0.1 follow-up release
https://github.com/br1sk/brisk

[2017-06-26 05:39] garricn commented on #280
This seems interesting: can anyone give me some thoughts on this... It looks like it addresses multiple radars. https://github.com/apple/swift/pull/10565

[2017-06-26 19:12] garricn commented on #280
https://twitter.com/s1ddok/status/879406585939984386

[2017-06-26 20:56] BasThomas commented on #280
https://twitter.com/LouisDhauwe/status/879441402870079488

[2017-06-27 16:42] garricn commented on #280
https://github.com/apple/swift/pull/10241#issuecomment-311384734

[2017-06-27 16:51] jessesquires commented on #280
Key paths update
https://github.com/apple/swift/pull/10583

Source compatibility fixes
https://github.com/apple/swift/pull/9466

[2017-06-27 16:51] jessesquires commented on #280
Swift unwrapped 😊

https://spec.fm/podcasts/swift-unwrapped/70319

[2017-06-27 16:57] jessesquires commented on #280
@gregheo's disappointing post that the new encoders are just wrappers around NSJSONSerialization.

`¯\_(ツ)_/¯`

https://swiftunboxed.com/stdlib/json-encoder-encodable/

[2017-06-28 03:58] gregheo commented on #280
@jessesquires the *post* was disappointing, or the *conclusion* was disappointing?! 😈

[2017-06-28 05:30] modocache commented on #280
Apple developed index-while-building on their internal Clang fork in time for Xcode 9. The changes are being merged to swift-clang, the Swift project's fork of Clang, in apple/swift-clang pull request 95 (87 files changed, 9,127 lines added, 30 lines deleted!). As far a I can tell, there isn't a diff up for this on the upstream Clang repository, but I'm not sure.

[2017-06-28 16:52] garricn commented on #280
@jessesquires @gregheo @BasThomas Anyone find anything interesting re:

1. Proposals (Proposed/Accepted/Rejected/)
2. Mailing Lists
3. Starter Tasks

Thank you.

[2017-06-28 16:58] BasThomas commented on #280
1. SE-180 is back in review: https://github.com/apple/swift-evolution/commit/8de3eb3e9e075999035ec5083bf5ffef73086dcf (might still get accepted / rejected tomorrow?)

[2017-06-28 21:27] garricn commented on #280
Anything else on the mailing lists?

[2017-06-28 21:33] gregheo commented on #280
re Ben's PR mentioned by Bas above — details on...the mailing list.
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170626/037776.html

[2017-06-29 01:13] gregheo opened #282 "De-dupe Twitter card tags"
Turns out the Jekyll SEO thing already adds some Twitter card tags and the recent commit (97bc9235) duplicates some, and adds some missing ones.

We should consolidate and either push the missing metadata to the SEO code so it generates all the tags, or disable Twitter card support in the SEO code and use the manually-generated tags.

[2017-06-29 01:28] garricn commented on #280
@jessesquires @BasThomas It appears that there are no new starter tasks. Am I correct? Shall I just include some old ones?

[2017-06-29 09:19] jessesquires commented on #280
@garricn feel free to just omit the starter task section (or any other section if there's nothing to add) 😄

[2017-06-29 09:22] jessesquires commented on #282
Ahh yep, `jekyll-seo-tag` attempts to do some of this -- forgot about that. I remember when I set that up, I had trouble getting it generate all of the correct Twitter card tags.

Might be better to just leave the manual tags there.

I'll need to see if `jekyll-seo-tag` gives us any other benefits.

[2017-06-29 09:48] jessesquires commented on #280
Thanks folks for all the fantastic work! 💯

I merged #281, fixed some typos, and added some pull quotes for the mailing list items. Looks like everything is good to go!

@garricn The last thing to do is move the issue from `_drafts/` to `_posts/` in the morning. 👏

[2017-06-29 13:34] jessesquires commented on #280
@gregheo the conclusion 😅😂

[2017-06-29 15:36] garricn commented on #280
Will do.

[2017-06-29 15:58] garricn commented on #280
I didn't want to push to master so I opened #283 @BasThomas @gregheo

[2017-06-29 16:03] #280 closed

[2017-06-29 16:05] gregheo opened #284 "Fix Danger"
Is it the recent pod upgrade?

Prose lint always seemed a bit flaky with its suggestions and super noisy to me.

## Danger has errored
[!] Invalid `Dangerfile` file: wrong number of arguments (2 for 1)
[code]

[2017-06-29 16:05] gregheo commented on #280
Congrats @garricn! 🎉

[2017-06-29 16:17] garricn commented on #280
Thank you for the opportunity and for helping so much with the issue. It was fun and I look forward to doing it again! 😁

[2017-06-29 16:24] BasThomas commented on #284
I've opened https://github.com/dbgrandi/danger-prose/issues/20

[2017-06-29 16:41] jessesquires commented on #280
Thanks so much @garricn!

[2017-06-29 18:43] RomanVolkov opened #285 "[77] Issue #77 - June 6, 2017"

[2017-06-30 14:43] jessesquires commented on #285
Thanks @RomanVolkov! 🙌🎉

[2017-06-30 14:46] #266 closed

[2017-06-30 18:33] BasThomas commented on #285
https://oleb.net/blog/2017/06/chris-lattner-wwdc-swift-panel/

[2017-07-01 00:11] jpsim commented on #285
HN conversation for Ole's post: https://news.ycombinator.com/item?id=14673059

[2017-07-01 14:44] jessesquires commented on #285
@RomanVolkov I just pushed an initial draft template in `_drafts/` 😄

[2017-07-01 15:12] BasThomas commented on #285
I think Roman already made [a branch](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/draft/issue-77?files=1) for that? 😬

[2017-07-01 18:40] dbgrandi commented on #284
It *should* be fixed in danger-prose 2.0.5...just published.

[2017-07-01 20:41] BasThomas commented on #284
Thanks for the quick resolution, @dbgrandi 😃. Let's see if this works.

[2017-07-01 21:10] #284 closed

[2017-07-01 21:12] jessesquires commented on #285
Oops! I'll merge into there.

[2017-07-01 21:12] jessesquires commented on #285
Pretty good overview of the new encoders/decoders:
http://benscheirman.com/2017/06/ultimate-guide-to-json-parsing-with-swift-4/

[2017-07-02 14:35] RomanVolkov commented on #285
Yeah, I made a branch for that:D

[2017-07-03 10:18] jessesquires commented on #285
@RomanVolkov -- anything that you think is interesting! if you are unsure, post a link here and @SwiftWeekly/writers can help decide if it's worth including or not 😄

I think Erica's "unwrap or die" should be included 👍

[2017-07-03 10:18] jessesquires commented on #285
Community:
Simon's book is now free 💯
https://twitter.com/flexmonkey/status/881789384735039489

[2017-07-03 10:19] BasThomas commented on #285
@jessesquires / @RomanVolkov - do know that Erica's pitch was already included in last week's Brief: https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/_posts/2017-06-29-issue-76.md#mailing-lists. So make sure to not repeat just that. ;)

[2017-07-03 16:11] BasThomas commented on #285
https://github.com/apple/swift-evolution/pull/729

[2017-07-03 16:53] modocache commented on #285
Perhaps relevant to people interested in Swift: as [mentioned in LLVM Weekly](http://llvmweekly.org/issue/183), LLVM's bug tracker now has a "beginner" keyword, akin to Swift JIRA's "StarterBug" label. There's only one "beginner" bug right now, but if you know people on the Swift team who work on [swift-clang](http://github.com/apple/swift-clang) or [swift-llvm](http://github.com/apple/swift-llvm)

[2017-07-03 17:34] RomanVolkov commented on #285
wdyt about
https://github.com/fastred/DeallocationChecker
https://github.com/unnamedd/swift-evolution-backend sources codes as example of production swift backend code
and this https://github.com/hetelek/Neural-Network-Playground for iPads?

[2017-07-03 17:50] RomanVolkov commented on #285
closed by mistake!

[2017-07-03 19:14] BasThomas commented on #285
The Weekly is more about the Swift.org project, not really open source Swift projects. :)

[2017-07-04 09:39] RomanVolkov commented on #285
@BasThomas good point💯

[2017-07-05 15:01] jessesquires commented on #285
@RomanVolkov -- looking great! 💯 I push some minor edits and opened #287. 😄

[2017-07-05 16:17] RomanVolkov commented on #285
@jessesquires it is obvious that you are doing this not for the first time:) Your formulations are really better than mine😀👍🏻

[2017-07-05 16:55] jessesquires commented on #285
@RomanVolkov haha 😄 you're doing great! 💯

[2017-07-06 14:55] #285 closed

[2017-07-06 14:59] jessesquires opened #288 "[78] Issue #78 - July 13, 2017"

[2017-07-10 17:14] jpsim commented on #288
Courtesy of @austinzheng, IBM has built a JIT compiler for Swift on Linux: https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170710/037970.html

approach that combined static compilation via swiftc with dynamic
compilation via a prototype JIT compiler based on Eclipse OMR.[1]

having itself loaded by a Swift process at runtime, patching Swift
functions so that they may be intercepted

[2017-07-10 20:20] jpsim commented on #288
For "Finally": https://twitter.com/daniel_dunbar/status/884507290170216448

[2017-07-10 21:17] jessesquires commented on #288
Ha! So good

[2017-07-11 17:30] BasThomas commented on #288
SE-0181 in review

[2017-07-13 01:33] jessesquires commented on #288
https://github.com/apple/swift/pull/8354

[2017-07-13 14:50] #288 closed

[2017-07-13 14:51] jessesquires opened #290 "[79] Issue #79 - July 20, 2017"

[2017-07-13 22:43] gregheo commented on #290
Conditional conformances are OUT (for now) 😭
https://twitter.com/jckarter/status/885517749094539264

[2017-07-13 23:03] jpsim commented on #290
Recursive protocol constraints are IN (for now) 😂

https://github.com/apple/swift/pull/10940

[2017-07-13 23:04] jpsim commented on #290
Yeah, that didn't last long... https://github.com/apple/swift/pull/10949

[2017-07-15 20:00] RomanVolkov commented on #290
Pitch about "Improved Swift pointers" on mailing list https://gist.github.com/kelvin13/a9c033193a28b1d4960a89b25fbffb06
thread: https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170710/038013.html

[2017-07-17 06:50] RomanVolkov commented on #290
Opened PR for implementation of reduce with inout
PR: https://github.com/apple/swift/pull/10976
Proposal: https://github.com/apple/swift-evolution/blob/master/proposals/0171-reduce-with-inout.md

[2017-07-19 12:02] BasThomas commented on #290
183 in review

[2017-07-20 15:14] #290 closed

[2017-07-20 15:20] jessesquires opened #291 "[80] Issue #80 - July 27, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2017-07-20 22:00] BasThomas commented on #291
0410 revision review https://github.com/apple/swift-evolution/commit/f87bcb9b0f51dec13f6afc1c2f68e3a965edc4fe

[2017-07-22 00:25] jessesquires commented on #291
new darwin lib mirrors under apple org:

https://github.com/apple/darwin-xnu
https://github.com/apple/darwin-libplatform
https://github.com/apple/darwin-libpthread

[2017-07-22 03:23] jpsim commented on #291
https://github.com/apple/swift/blob/master/docs/Branches.md

[2017-07-23 16:33] BasThomas commented on #291
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170717/038180.html

[2017-07-24 14:57] jessesquires commented on #291
https://github.com/apple/swift-corelibs-foundation/pull/1128

[2017-07-25 01:48] jessesquires commented on #291
beta 4:

swift static libs:
https://twitter.com/NeoNacho/status/889538474109304832
https://twitter.com/daniel_dunbar/status/889546788633321472

release notes: https://download.developer.apple.com/Developer_Tools/Xcode_9_beta_4/Xcode_9_beta_4_Release_Notes.pdf

[2017-07-25 01:50] jessesquires commented on #291
finally: https://twitter.com/jckarter/status/889560703132024836

[2017-07-26 10:08] BasThomas commented on #291
https://twitter.com/olebegemann/status/890149002389450752

[2017-07-26 15:50] jessesquires commented on #291
Go in Xcode

https://twitter.com/jesse_squires/status/889697105572319232

[2017-07-27 15:10] #291 closed

[2017-07-27 15:11] jessesquires opened #293 "[81] Issue #81 - August 3, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2017-07-30 19:15] jessesquires commented on #293
https://github.com/apple/swift/pull/10747

https://github.com/apple/swift/pull/11251

https://github.com/apple/swift/pull/11249

[2017-08-01 00:48] jessesquires commented on #293
https://spec.fm/podcasts/swift-unwrapped/78919

[2017-08-01 03:22] BasThomas commented on #293
SE-0184 awaiting review: https://github.com/apple/swift-evolution/blob/master/proposals/0184-improved-pointers.md

[2017-08-02 05:02] jessesquires commented on #293
proposal status:
https://github.com/apple/swift-evolution/pull/737
https://apple.github.io/swift-evolution/

[2017-08-02 14:00] jessesquires commented on #293
https://twitter.com/slava_pestov/status/892527843065778176

https://twitter.com/dhartbit/status/891359322193756160

[2017-08-02 20:53] marcelofabri commented on #293
Sorry for the shameless plug, but https://github.com/apple/swift/pull/11264 fixed https://bugs.swift.org/browse/SR-2487 which was a quite popular SR. 🎉

[2017-08-03 02:03] jessesquires commented on #293
@marcelofabri this is great! 🥇 do you think you could explain this a bit more? 😅

[2017-08-03 05:44] jessesquires commented on #293
https://twitter.com/simjp/status/892960652129480704

https://github.com/apple/swift/pull/11320

[2017-08-03 06:25] marcelofabri commented on #293
@jessesquires Swift 2.3 removed the `"source.decl.attribute.__raw_doc_comment"` attribute from structures returned by SourceKit. This was used by SwiftLint to implement `ValidDocsRule` and `MissingDocsRule`.

That PR not only restores the functionality, but takes a step further and adds the range of a doc comment for each declaration. This would make possible to add back those rules (and their imp

[2017-08-03 16:27] #293 closed

[2017-08-03 16:28] jessesquires opened #294 "[82] Issue #82 - August 10, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2017-08-03 17:51] jessesquires commented on #294
@RomanVolkov -- all you! 💯

[2017-08-07 16:26] jessesquires commented on #294
https://spec.fm/podcasts/swift-unwrapped/79765

[2017-08-07 19:58] jessesquires commented on #294
beta 5
https://download.developer.apple.com/Developer_Tools/Xcode_9_beta_5/Release_Notes_for_Xcode_9_beta_5.pdf

[2017-08-07 23:31] jessesquires commented on #294
https://github.com/apple/swift/pull/11373

[2017-08-08 00:37] jpsim commented on #294
libFuzzer integration merged: https://github.com/apple/swift/pull/9450

[2017-08-08 16:34] BasThomas commented on #294
https://github.com/apple/swift-evolution/blob/master/README.md

[2017-08-08 16:52] jessesquires commented on #294
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170807/038645.html

[2017-08-08 22:01] gregheo commented on #294
Swift Evolution Tinder
https://twitter.com/modocache/status/895041827967037443

[2017-08-09 21:23] jessesquires commented on #294
Slava: https://twitter.com/slava_pestov/status/895097488079634433

[2017-08-10 15:45] #294 closed

[2017-08-10 15:46] jessesquires opened #296 "[83] Issue #83 - August 17, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2017-08-10 15:46] jessesquires commented on #296
@RomanVolkov -- If you still want the next issue, it's all you! 🎉

[2017-08-11 15:45] jessesquires commented on #296
https://www.mikeash.com/pyblog/friday-qa-2017-08-11-swiftunmanaged.html

[2017-08-11 18:33] RomanVolkov commented on #296
Still want  😊

[2017-08-12 00:57] jessesquires commented on #296
https://github.com/apple/swift/pull/11425

https://github.com/apple/swift/pull/11437

Removing swift experimental
https://github.com/apple/swift/pull/11087
https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20170717/004953.html

[2017-08-14 12:13] RomanVolkov commented on #296
#76e62333153a1b9ec6675e141734df9afe4b6f8f

[2017-08-14 12:16] RomanVolkov commented on #296
https://github.com/SwiftWeekly/swiftweekly.github.io/commit/76e62333153a1b9ec6675e141734df9afe4b6f8f

[2017-08-14 17:37] gregheo commented on #296
Next great AI, written in Swift?
https://twitter.com/clattner_llvm/status/897149537109684224

[2017-08-14 18:02] jessesquires commented on #296
No brain emoji:
https://twitter.com/clattner_llvm/status/897150073296928768

[2017-08-14 19:39] jessesquires commented on #296
Hey @RomanVolkov -- we should probably start adding stuff to the draft today and tomorrow. Let us know if you need any help! Feel free to ask questions on this thread. 😄

[2017-08-14 19:40] jessesquires commented on #296
Swift unwrapped: https://spec.fm/podcasts/swift-unwrapped/81026

[2017-08-15 03:53] RomanVolkov commented on #296
@jessesquires I already started yesterday:) I just made another branch for this issue.

[2017-08-17 05:46] BasThomas commented on #296
SE-0185 accepted

[2017-08-17 14:18] jessesquires commented on #296
Thanks so much @RomanVolkov ! I've pushed some edits/revisions 😄

[2017-08-17 14:24] #296 closed

[2017-08-17 14:24] jessesquires opened #298 "[84] Issue #84 - August 24, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2017-08-17 16:06] jessesquires commented on #298
@gregheo @BasThomas @garricn anyone up for an issue? No pressure! 😄

[2017-08-17 16:34] gregheo commented on #298
@jessesquires I feel pressured now. If you're planning ahead, I can take the issue for 9/14 (issue 87?) That gives me the required month to craft a poem.

[2017-08-17 16:51] jessesquires commented on #298
@gregheo sounds good!

[2017-08-17 22:09] jpsim commented on #298
Async/await prototype: https://github.com/apple/swift/pull/11501

[2017-08-17 22:29] jpsim commented on #298
An essay looking at how async/await+actors could transform Swift concurrency & distributed compute: https://gist.github.com/lattner/31ed37682ef1576b16bca1432ea9f782

Tweet: https://twitter.com/clattner_llvm/status/898310296183357441

[2017-08-18 08:11] RomanVolkov commented on #298
[swift-evolution] typed throws: https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170814/038928.html

[2017-08-18 15:30] jessesquires commented on #298
Ted's email on concurrency:
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170814/038891.html

Chris's email:
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170814/038892.html

[2017-08-18 16:15] BasThomas commented on #298
!!!

[2017-08-18 16:16] BasThomas commented on #298
Also, @jessesquires, I am quite busy at the moment. Will let you know when I have time and would gladly write an issue then!

[2017-08-18 17:34] jessesquires commented on #298
@BasThomas -- where's that quote from?

[2017-08-18 18:01] #176 closed

[2017-08-18 19:23] RomanVolkov commented on #298
@jessesquires answer for your previous question: https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170814/038891.html
last paragraph.

[2017-08-18 20:01] BasThomas commented on #298
@RomanVolkov is right. :)

[2017-08-18 21:22] jessesquires commented on #298
Ha! Derp! 😅 😳

[2017-08-19 12:19] RomanVolkov commented on #298
Some additional suggestions to async/await
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170814/039039.html

[2017-08-21 15:24] #282 closed

[2017-08-21 15:26] jessesquires opened #300 "Add open graph tags"
Similar to existing Twitter card tags.

http://opengraphprotocol.org

Example:
https://github.com/jessesquires/jessesquires.com/blob/master/_includes/head.html#L29-L41

[2017-08-21 17:42] jessesquires commented on #298
https://github.com/apple/swift/pull/11464

[2017-08-21 17:53] jessesquires commented on #298
https://spec.fm/podcasts/swift-unwrapped/82593

[2017-08-21 21:20] jessesquires commented on #298
xcode 9b6
https://download.developer.apple.com/Developer_Tools/Xcode_9_beta_6/Release_Notes_for_Xcode_9_beta_6.pdf

[2017-08-22 03:47] jessesquires commented on #298
swift on android:
http://johnholdsworth.com/bothworlds.html

[2017-08-23 07:56] RomanVolkov commented on #298
Swift local refactoring 🎉
https://swift.org/blog/swift-local-refactoring

[2017-08-23 14:56] jessesquires commented on #298
https://github.com/apple/swift/pull/11566

[2017-08-24 06:09] jessesquires opened #302 "[87] Issue #87 - Sept 14, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2017-08-24 15:51] #298 closed

[2017-08-24 15:52] jessesquires opened #303 "[85] Issue #85 - August 31, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2017-08-28 00:00] jessesquires commented on #303
Hey all -- I'm going to skip this week. If someone wants to fill-in, let me know!

cc @SwiftWeekly/writers

[2017-08-28 07:46] RomanVolkov commented on #303
@jessesquires I could

[2017-08-28 15:10] jessesquires commented on #303
@RomanVolkov sounds good 👍 🎉

[2017-08-28 15:15] RomanVolkov commented on #303
@jessesquires okay) I'll manage this issue👌, but be very helpful if you'll take a rough look on result issue before merging

[2017-08-28 15:27] BasThomas commented on #303
You can ping me if you want me to take a look as well. Will do so anyway when I find some time :)

[2017-08-28 15:30] RomanVolkov commented on #303
@BasThomas thanks, I'll👌

[2017-08-28 16:28] jessesquires commented on #303
https://github.com/apple/swift/pull/11613

[2017-08-29 04:01] modocache commented on #303
As pointed out by https://twitter.com/tonyarnold/status/902377663775481856, the https://bugs.swift.org/browse/SR-5198 bug report appears to the culmination of a lot of frustration from Swift users around diagnostics and error messages for type-inferred closures.

[2017-08-29 04:35] jessesquires commented on #303
A bit aggressive. 😞

[2017-08-29 05:42] BasThomas commented on #303
I think that one has been discussed before - the bug was created in June.

[2017-08-29 17:40] BasThomas commented on #303
[Finally](https://twitter.com/jckarter/status/902579790221164544).

[2017-08-30 15:07] RomanVolkov commented on #303
@SwiftWeekly/writers please, take a look on PR:  #304
Feel free to write your suggestions and thoughts.

[2017-08-30 17:13] jessesquires commented on #303
Thanks @RomanVolkov !

[2017-08-31 16:19] #303 closed

[2017-08-31 16:20] jessesquires opened #305 "[86] Issue #86 - Sept 7, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2017-08-31 16:21] jessesquires commented on #305
Hey folks! Also skipping this one. 😅

If anyone is up for it, let me know!

[2017-09-01 01:59] SD10 commented on #305
[Implement SE-0075: CanImport](https://github.com/apple/swift/pull/11613)

[2017-09-01 04:03] jessesquires commented on #305
Thanks anyway @SD10 ! 🙌

[2017-09-01 05:21] gregheo commented on #305
What's with all the slacking off @jessesquires ? 😈

[2017-09-01 10:55] RomanVolkov commented on #305
@jessesquires if other writes can't help with I can take this one if help is needed. Let's wait for 1-2 days:)

[2017-09-02 03:28] BasThomas commented on #305
https://github.com/apple/swift/pull/11730

[2017-09-02 15:51] RomanVolkov commented on #305
[swift-evolution] Contextualizing async coroutines: https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170828/039349.html

[swift-evolution] [Review] SE-0184: https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170828/039395.html

good one "[swift-evolution] Why you can't make someone else's class Decodable: a long-winded explanation of 'required' initializers": https://li

[2017-09-02 18:26] jessesquires commented on #305
https://mjtsai.com/blog/2017/08/29/swift-4-bridging-peephole-for-as-casts/

[2017-09-03 09:10] RomanVolkov commented on #305
https://github.com/apple/swift-evolution/pull/707

[2017-09-03 22:25] jessesquires opened #307 "Support JSON feed"
Support JSON Feed. 😏

Should be similar to:
https://www.jessesquires.com/blog/supporting-json-feed/

[2017-09-04 01:11] jessesquires commented on #305
New local refactoring action:
https://github.com/apple/swift/pull/11711

[2017-09-04 07:18] BasThomas commented on #305
Implementation links will be added to the swift-evolution status page: https://github.com/apple/swift-evolution/pull/747

[2017-09-04 18:43] RomanVolkov commented on #305
@jessesquires taking this issue too

[2017-09-04 18:47] jessesquires commented on #305
@RomanVolkov sounds good!

[2017-09-05 20:46] BasThomas commented on #305
https://twitter.com/daniel_duan/status/904864776290942978

[2017-09-05 23:01] jessesquires commented on #305
https://github.com/apple/swift/pull/11744

[2017-09-06 01:52] jessesquires commented on #305
https://swiftunboxed.com/lang/optionals-map-flatmap/

[2017-09-06 15:51] jessesquires commented on #305
https://github.com/apple/swift/pull/11786

[2017-09-06 15:54] jessesquires commented on #305
http://belkadan.com/blog/2017/09/Over-abstraction/

[2017-09-06 16:13] gregheo commented on #302
# Proposals

- [ ] [SE-0184](https://lists.swift.org/pipermail/swift-evolution-announce/2017-September/000401.html) should be out of review

[2017-09-07 17:45] #305 closed

[2017-09-07 17:47] jessesquires commented on #302
Alright @gregheo, you're up! 🎉 Just pushed the empty draft. 😊

[2017-09-07 19:27] jessesquires commented on #302
https://github.com/apple/swift/pull/11731

[2017-09-08 15:26] gregheo commented on #302
CMake enthusiast modocache on the history of building Swift (thread?)
https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20170904/005296.html

[2017-09-09 02:04] jessesquires commented on #302
https://mobile.twitter.com/Ilseman/status/906312967792189440

[2017-09-09 18:21] jessesquires commented on #302
https://twitter.com/modocache/status/906481713496326144
https://twitter.com/modocache/status/906482369963708416
https://llvm.org/devmtg/2017-10/

[2017-09-10 17:01] RomanVolkov commented on #302
https://modocache.io/the-swift-compilers-build-system

[2017-09-11 08:36] BasThomas commented on #302
Finally: https://twitter.com/jckarter/status/906669363943530496

[2017-09-11 13:31] RomanVolkov commented on #302
https://twitter.com/chriseidhof/status/907232916555661312

[2017-09-11 21:13] BasThomas commented on #302
https://twitter.com/jckarter/status/907342743499714560

[2017-09-14 01:06] #307 closed

[2017-09-14 13:07] #302 closed

[2017-09-14 13:37] jessesquires opened #312 "[88] Issue #88 - Sept 21, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2017-09-15 15:17] jessesquires commented on #312
https://plausible.coop/blog/2017/09/13/best-new-features-in-swift-4

[2017-09-15 23:13] SD10 commented on #312
[PR-11730: Key path subscripts](https://github.com/apple/swift/pull/11730) has been merged

[2017-09-18 17:40] gregheo commented on #312
If we're hard up for News & Community items:
https://www.jessesquires.com/blog/measuring-compile-times-xcode9/

😈

[2017-09-18 18:14] SD10 commented on #312
Non-exhaustive enums has a WIP at PR#11961
Proposal: https://github.com/jrose-apple/swift-evolution/blob/non-exhaustive-enums/proposals/nnnn-non-exhaustive-enums.md

[2017-09-18 18:18] SD10 commented on #312
[SE-0157: Support recursive constraints on associated types](https://github.com/apple/swift-evolution/blob/master/proposals/0157-recursive-protocol-constraints.md)
has a WIP at PR#11923 for Standard library uses of Recursive Protocol Constraints

[2017-09-19 12:03] jpsim commented on #312
https://twitter.com/xge_apple/status/909920319766278145

[2017-09-20 02:31] gregheo commented on #312
Swift 4.0 released
https://swift.org/blog/swift-4-0-released/

[2017-09-20 04:26] jessesquires commented on #312
https://github.com/apple/swift/pull/11984

https://github.com/apple/swift/pull/11923

https://github.com/apple/swift/pull/12015

https://github.com/apple/swift-corelibs-libdispatch/pull/302

[2017-09-20 04:51] jessesquires commented on #312
for the lols

https://twitter.com/modocache/status/910364357762195456

[2017-09-20 04:58] modocache commented on #312
I posted this on Sunday, feel free to include it if you like :) https://modocache.io/reading-and-understanding-the-cmake-in-apple-swift

[2017-09-20 05:00] gregheo commented on #312
@modocache did you also write that post while feverish? 🔥😄

[2017-09-20 07:45] kud1ing opened #313 ""First external contribution to the Swift refactoring family""
* https://twitter.com/xge_apple/status/909920319766278145
* https://github.com/apple/swift/pull/11851

[2017-09-20 08:14] BasThomas commented on #313
Hey, thanks @kud1ing! I've added the links to this week's issue notes: https://github.com/SwiftWeekly/swiftweekly.github.io/issues/312

[2017-09-20 08:14] #313 closed

[2017-09-20 08:14] BasThomas commented on #312
https://github.com/SwiftWeekly/swiftweekly.github.io/issues/313

[2017-09-20 12:40] kud1ing commented on #313
Thanks.

[2017-09-20 18:21] modocache commented on #312
@gregheo Dang, maybe a fever would have helped. But nah, I was healthy when I wrote it 😛

[2017-09-21 04:35] jessesquires commented on #312
https://github.com/apple/swift/pull/11583

[2017-09-21 15:50] #312 closed

[2017-09-21 15:51] jessesquires opened #314 "[89] Issue #89 - Sept 28, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2017-09-21 16:02] BasThomas commented on #312
💪

[2017-09-22 01:37] jessesquires commented on #314
Code completion fuzzer:
https://github.com/apple/swift/pull/12030

[2017-09-23 14:36] BasThomas commented on #314
https://twitter.com/xenadu02/status/911463433521860609

[2017-09-24 14:59] RomanVolkov commented on #314
https://medium.com/flawless-app-stories/debugging-swift-code-with-lldb-b30c5cf2fd49?source=linkShare-8ed93cd6d298-1506265117

[2017-09-24 18:45] jessesquires opened #315 "Use `jekyll-avatar` on authors page"
https://github.com/benbalter/jekyll-avatar

We're doing this manually here:
https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/authors.html

Let's use the plugin instead.

[2017-09-24 18:49] jessesquires opened #316 "Use `jekyll-mentions` for linking GitHub profiles for commits & PRs section"
https://github.com/jekyll/jekyll-mentions

currently we (sometimes) do this manually. this should allow us to just type `@username` and have it automatically "linkified".

we'll probably need to audit old issues to use this once implemented.

[2017-09-25 00:15] BasThomas commented on #316
Nice! I can do the audit. :)

[2017-09-25 17:00] jessesquires commented on #316
🎉 Thanks @BasThomas !

Just need to add it here to enable it
https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/_config.yml#L6

[2017-09-25 17:01] jessesquires commented on #316
Also, turns out we can remove this from the gemfile:
https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/Gemfile#L4

(it's included in `github-pages`)

[2017-09-26 03:12] jessesquires commented on #314
https://github.com/apple/swift/pull/12115

[2017-09-27 13:06] RomanVolkov commented on #314
@SwiftWeekly/writers do you have something for Finally section?

[2017-09-27 18:14] BasThomas commented on #314
Did we discuss this one yet? https://github.com/apple/swift/blob/master/docs/StandardLibraryProgrammersManual.md

[2017-09-27 18:14] jpsim commented on #314
Standard Library Programmers Manual: https://github.com/apple/swift/blob/master/docs/StandardLibraryProgrammersManual.md

Discovered via https://twitter.com/olebegemann/status/913104239576182785

[2017-09-27 18:15] BasThomas commented on #314
Ha, sorry JP 😁

[2017-09-27 18:17] jpsim commented on #314
Jinx!

[2017-09-28 16:57] jessesquires commented on #314
wrapping up the issue now. a little late 😅 sorry

[2017-09-28 17:25] #314 closed

[2017-09-28 17:26] jessesquires opened #318 "[90] Issue #90 - Oct 5, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2017-09-29 04:06] jessesquires commented on #318
https://github.com/apple/swift/pull/11869

[2017-09-29 06:56] BasThomas commented on #318
https://twitter.com/slava_pestov/status/913656701840060416

[2017-09-29 06:56] BasThomas opened #319 "Add paging to homepage"
The list is getting a tad long, had to scroll so much to get to the bottom

[2017-09-29 15:46] jessesquires commented on #318
hey @BasThomas would you be interested in taking this issue? 😊

[2017-09-29 16:27] BasThomas commented on #318
Yes!

[2017-09-30 02:30] BasThomas commented on #318
https://github.com/apple/swift-evolution/issues/751

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-09-30 02:56] BasThomas commented on #318
https://twitter.com/slava_pestov/status/913897860420182016

[2017-09-30 02:57] BasThomas commented on #318
Finally? https://twitter.com/Catfish_Man/status/913922418833420289

[2017-09-30 12:43] BasThomas commented on #318
XNU Kernel (mirror) on GH: https://github.com/apple/darwin-xnu

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-01 07:42] RomanVolkov commented on #318
https://twitter.com/clattner_llvm/status/914366072144371712

[2017-10-01 17:33] jessesquires commented on #319
ha 😄

[2017-10-01 20:29] BasThomas commented on #318
Mailing list: https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20170925/040009.html

[2017-10-01 22:48] jpsim commented on #318
https://twitter.com/slava_pestov/status/914594813697130496

[2017-10-02 05:55] gregheo commented on #318
Recursive protocol constraints for standard library

https://github.com/apple/swift/pull/11923

[2017-10-02 21:31] BasThomas commented on #318
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20171002/040053.html

[2017-10-03 03:08] RomanVolkov commented on #318
https://twitter.com/slava_pestov/status/914729705827209216

[2017-10-03 07:17] BasThomas commented on #318
https://twitter.com/Chris__Bailey/status/914925288240316416

[2017-10-03 07:17] BasThomas commented on #318
https://twitter.com/slava_pestov/status/915110709209456640

[2017-10-03 15:31] BasThomas commented on #318
https://twitter.com/tkremenek/status/915229686740926465

[2017-10-03 16:01] jessesquires commented on #318
https://github.com/apple/swift/pull/12200

[2017-10-04 03:51] modocache commented on #318
A good starter bug in apple/swift/lib/Driver: https://bugs.swift.org/browse/SR-3352

[2017-10-04 05:37] modocache commented on #318
Here's a better starter bug, also in the Driver: https://bugs.swift.org/browse/SR-6055

[2017-10-04 15:49] jessesquires commented on #318
which is the fastest?
https://github.com/swift-server/which_is_the_fastest

[2017-10-04 17:23] BasThomas commented on #318
https://swift.org/blog/dictionary-and-set-improvements/

[2017-10-05 08:40] RomanVolkov commented on #318
Wow https://twitter.com/fchollet/status/915653994176954368

[2017-10-05 10:29] BasThomas opened #322 "[91] Issue #91 - Oct 12, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, feel free to [open a pull request](https://github

[2017-10-05 14:01] #318 closed

[2017-10-05 15:09] jessesquires commented on #322
https://twitter.com/ashfurrow/status/915930734082306050

[2017-10-06 07:05] BasThomas commented on #322
https://twitter.com/harlanhaskins/status/916023399717179394

[2017-10-06 07:13] BasThomas commented on #322
https://github.com/apple/swift/pull/12295

[2017-10-06 14:57] BasThomas commented on #322
https://swift.org/blog/xcode-9-1-improves-display-of-fatal-errors/

[2017-10-07 00:01] gregheo commented on #322
Another 16% stdlib typecheck speedup: https://github.com/apple/swift/pull/12321

(Source: https://twitter.com/slava_pestov/status/916452691840241664)

[2017-10-08 21:00] BasThomas commented on #322
184 accepted with revisions: https://lists.swift.org/pipermail/swift-evolution-announce/2017-October/000405.html

[2017-10-08 21:01] jessesquires opened #323 "Writers for upcoming issues"
Hey @SwiftWeekly/writers 😄

I'm going to be out for the next few weeks while preparing for and attending conferences (iOS Singapore and try! Swift India). So, the next few issues from now through mid-November are up for grabs.

If anyone is interested in taking one of these, please comment here so we can coordinate. I'll still be available to review and proofread, just not for making a whole issue

[2017-10-08 21:10] BasThomas commented on #323
I can take Nov 2. :)

[2017-10-08 21:22] gregheo commented on #323
I'm following @jessesquires to Singapore and will try to get a selfie with him. That's worth a sponsorship isn't it?

[2017-10-08 22:13] modocache commented on #323
I'd like to do November 9th and 16th.

[2017-10-08 22:54] jessesquires commented on #323
Awesome 🥇 Thanks @BasThomas and @modocache ! 😄

[2017-10-09 04:30] BasThomas commented on #322
https://twitter.com/slava_pestov/status/917189019888259073

[2017-10-09 07:29] BasThomas commented on #322
https://twitter.com/slava_pestov/status/917280154245775360

[2017-10-09 10:07] RomanVolkov commented on #323
I can take both Oct 19, Issue 92 and Oct 26, Issue 93

[2017-10-09 14:21] BasThomas commented on #322
https://twitter.com/olebegemann/status/917388018989912064

[2017-10-09 16:27] jessesquires commented on #322
Thanks for taking this @BasThomas ! 💯

[2017-10-09 18:42] RomanVolkov commented on #322
https://swift.org/blog/xcode-9-1-improves-display-of-fatal-errors

[2017-10-09 19:29] BasThomas commented on #322
https://twitter.com/olebegemann/status/917468701812838401

[2017-10-09 19:29] BasThomas commented on #322
@RomanVolkov that's already in! :)

[2017-10-10 07:01] BasThomas commented on #322
https://github.com/apple/swift-evolution/pull/753

[2017-10-10 10:40] RomanVolkov commented on #322
@BasThomas oh, okay, great! :)

[2017-10-10 12:11] BasThomas commented on #322
https://twitter.com/olebegemann/status/917710728194347009

[2017-10-10 13:35] BasThomas commented on #322
https://github.com/apple/swift/pull/9619

[2017-10-11 14:54] BasThomas commented on #322
https://gist.github.com/regexident/1b8e84974da2243e5199e760508d2d25

[2017-10-11 17:16] BasThomas commented on #322
https://twitter.com/AirspeedSwift/status/918159453467295744

[2017-10-12 00:11] jessesquires commented on #323
Updated main issue. I won't be able to review on Oct 19, so let's just skip that week, too. (Next week). Then we'll resume Oct 26. cc @RomanVolkov

[2017-10-12 06:00] BasThomas commented on #322
https://twitter.com/slava_pestov/status/918342575165120513

[2017-10-12 09:18] BasThomas opened #325 "[92] Issue #92 - Oct 26, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, feel free to [open a pull request](https://github

[2017-10-12 16:59] #322 closed

[2017-10-13 17:09] BasThomas commented on #325
https://twitter.com/clattner_llvm/status/918885734890663937

[2017-10-13 19:02] RomanVolkov commented on #323
@jessesquires ok

[2017-10-17 05:53] BasThomas commented on #325
https://github.com/apple/swift-evolution/issues/114

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-17 18:19] BasThomas commented on #325
https://github.com/apple/swift/pull/9619#issuecomment-336746025

[2017-10-17 20:35] BasThomas commented on #325
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20171009/040362.html

[2017-10-18 03:22] SD10 commented on #325
https://swift.org/blog/swift-4-1-release-process/

[2017-10-18 04:58] BasThomas commented on #325
https://twitter.com/slava_pestov/status/920477411535237121

[2017-10-23 08:05] BasThomas commented on #325
https://twitter.com/slava_pestov/status/922357520819134465

[2017-10-23 16:59] jessesquires commented on #325
@RomanVolkov - don't forget, we're publishing this thursday 😄

[2017-10-24 10:30] RomanVolkov commented on #325
@jessesquires  don't worry, issue will be on time:)

[2017-10-24 17:05] jessesquires commented on #325
https://github.com/apple/swift/pull/12598

[2017-10-24 23:03] jessesquires commented on #325
Fixing regressions:
https://github.com/apple/swift/pull/12595

[2017-10-25 20:04] BasThomas commented on #325
Ping @RomanVolkov - let me know if you need any help 👍

[2017-10-26 06:37] BasThomas commented on #325
https://twitter.com/slava_pestov/status/923437365867061248

[2017-10-26 09:58] RomanVolkov commented on #325
@BasThomas @jessesquires @SD10 thank you for all your links!

[2017-10-26 17:31] #325 closed

[2017-10-26 17:32] BasThomas opened #328 "[93] Issue #93 - Nov 02, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, feel free to [open a pull request](https://github

[2017-10-28 05:04] BasThomas commented on #328
https://github.com/apple/swift-evolution/issues/754

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-28 05:58] BasThomas commented on #328
https://store.apple.com/xc/de/vieworder/W568910935/bas.broek@live.nl/

[2017-10-28 06:01] BasThomas commented on #328
https://twitter.com/slava_pestov/status/924133239568064514

[2017-10-28 06:01] BasThomas commented on #328
https://twitter.com/slava_pestov/status/924133915199119360

[2017-10-29 15:18] BasThomas commented on #328
https://github.com/apple/swift-evolution/issues/756

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-29 21:19] jessesquires commented on #328
Potential for python inter-op
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20171023/040733.html

[2017-10-29 21:34] BasThomas commented on #328
Finally https://twitter.com/slava_pestov/status/924493935514230784

[2017-10-30 16:49] jessesquires commented on #328
Seniors in Singapore learn Swift for “hour of code”

https://www.cnet.com/news/singapore-teaches-its-seniors-to-code/

[2017-10-30 23:16] jessesquires commented on #328
must use this for "Finally"

https://twitter.com/jckarter/status/925122252479148032

[2017-10-30 23:17] jessesquires commented on #328
"they read our blogs"
https://twitter.com/gregheo/status/925119320606236673

[2017-10-31 05:29] BasThomas commented on #328
https://twitter.com/slava_pestov/status/925133908835835904

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-31 07:24] RomanVolkov commented on #328
Might be interesting
https://developer.ibm.com/swift/2017/10/30/kitura-20/

[2017-10-31 15:30] BasThomas commented on #328
https://twitter.com/twostraws/status/924933983883931648

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-01 04:17] jessesquires commented on #328
Final Xcode 9.1 released
https://developer.apple.com/news/releases/?id=10302017c
https://twitter.com/slava_pestov/status/925548115452497920

[2017-11-01 07:47] BasThomas commented on #328
https://twitter.com/modocache/status/925555416351825920

[2017-11-02 13:58] RomanVolkov commented on #328
I did not find any mentions about this document, maybe I missed it, but I think it's a great document to share.
https://github.com/apple/swift/blob/master/docs/OptimizationTips.rst

[2017-11-02 14:50] BasThomas commented on #328
Hey @RomanVolkov - it seems like the document has been there [since before Swift was open sourced](https://github.com/apple/swift/commit/02b578b9aba0f25ce285d9728230356b0c34808b#diff-6551cd688c812cb4fdebcdb5b196a314); I have not put it in the weekly for now, as at least I think it isn't too time sensitive at this point.

[2017-11-02 14:50] #328 closed

[2017-11-02 14:51] BasThomas opened #330 "[94] Issue #94 - Nov 09, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, feel free to [open a pull request](https://github

[2017-11-02 15:33] jessesquires commented on #330
Thanks @modocache for taking this issue! 🎉

[2017-11-02 17:18] modocache commented on #330
awww yissss

[2017-11-02 18:21] jessesquires commented on #330
It finally happened
https://github.com/apple/swift-evolution/pull/757

[2017-11-03 22:36] jessesquires opened #333 "Re-enable danger if we can make it useful"
See #332 and https://github.com/SwiftWeekly/swiftweekly.github.io/pull/331#issuecomment-341521265.

Would be nice if danger-prose actually worked as advertised.

[2017-11-04 09:02] BasThomas commented on #330
https://github.com/apple/swift-evolution/pull/757#issuecomment-341838593

[2017-11-05 01:16] modocache commented on #333
- The ability to add words to an ignore list would be awesome.
- We'd also want some words to have a canonical spelling (for example, does the compiler suggest "fixits" or "fix-its"? Do we invoke the compiler on the "command line", "commandline", or "command-line"?).
- We need the bot to be able to recognize Liquid `{% tag syntax %}`.

[2017-11-06 02:00] jessesquires commented on #330
llbuild, build cancellation
https://github.com/apple/swift-llbuild/pull/195

[2017-11-06 07:23] RomanVolkov commented on #330
https://twitter.com/slava_pestov/status/927345989270224897

[2017-11-06 08:27] BasThomas commented on #330
https://github.com/apple/swift-evolution/pull/760

[2017-11-06 11:28] RomanVolkov commented on #330
https://github.com/apple/swift/pull/12682

[2017-11-06 14:50] jessesquires commented on #330
Reviving the proposal for deriving enum cases for `MyEnum.allCases`. This was very popular around ~Swift 3 but never made the cut. Potentially could be in Swift 5.
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20171106/040950.html

[2017-11-06 19:49] jessesquires opened #334 "Add an "edit this issue" button below posts"
This should be easy to do and help encourage fixes. We have all the info to construct the URL:

[code]

or even:

[code]

We can put this below the prev/next buttons.

[2017-11-06 20:17] BasThomas commented on #334
Love this!

[2017-11-06 21:00] jessesquires commented on #330
https://github.com/apple/swift-evolution/pull/761

[2017-11-07 04:59] modocache commented on #330
I updated the draft at #331. Can someone confirm I'm understanding the IUO pull request correctly?

[2017-11-07 17:34] jpsim commented on #330
[[swift-corelibs-dev] Latest CoreFoundation import from High Sierra](https://lists.swift.org/pipermail/swift-corelibs-dev/Week-of-Mon-20171106/001324.html)

and PR: https://github.com/apple/swift-corelibs-foundation/pull/1305

[2017-11-07 18:22] jessesquires commented on #330
coroutines in SIL
https://github.com/apple/swift/pull/12789

[2017-11-07 22:12] jessesquires commented on #330
swift build time tips
https://github.com/fastred/Optimizing-Swift-Build-Times

[2017-11-08 17:56] BasThomas commented on #330
SE-0187 is under review

[2017-11-08 20:27] modocache commented on #330
FYI I'll get a finished draft of #331 done tonight around 10PM or 11PM eastern time, and then I'll ping this thread. I'd definitely appreciate some feedback at that point. I'll merge the pull request around 12:30PM eastern time tomorrow.

[2017-11-09 00:22] modocache commented on #330
OK, I think the body of this week's issue is pretty much done in my eyes, please feel free to review it at #331. I'm also very open to suggestions on the intro and outro.

[2017-11-09 01:49] jpsim commented on #330
Eliminating IndexDistance: https://twitter.com/AirspeedSwift/status/928376958357876736

[2017-11-09 06:11] BasThomas commented on #330
188 in review, too

[2017-11-09 06:39] modocache commented on #330
Done, and done!

[2017-11-09 15:46] modocache opened #335 "[95] Issue #95 - Nov 16, 2017"

[2017-11-09 15:47] modocache commented on #330
I pushed #331 so issue 94 should be good to go. If anyone has any last-minute edits please open a pull request. Issue 95 notes can be found on #335.

[2017-11-09 17:05] BasThomas commented on #330
Awesome issue, @modocache! 😀

[2017-11-09 17:34] modocache commented on #330
Thank you! Thanks for all the feedback & editing.

[2017-11-09 19:50] gregheo commented on #335
[meta] Update on move to Discourse forums
https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20171106/041091.html

[2017-11-09 20:04] modocache commented on #330
Email seemed to have gone out, LGTM.

[2017-11-09 20:04] #330 closed

[2017-11-10 03:47] #323 closed

[2017-11-10 03:48] jessesquires commented on #335
IRGen for conditional conformances
https://github.com/apple/swift/pull/12531

[2017-11-10 07:32] BasThomas commented on #335
https://twitter.com/jckarter/status/928733395219185664 / https://github.com/apple/swift/pull/6485 is back

[2017-11-10 07:39] BasThomas commented on #335
https://twitter.com/slava_pestov/status/928834964690411520 + thread

[2017-11-10 08:27] BasThomas commented on #335
https://github.com/apple/swift-evolution/pull/764 / https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20171023/040652.html

[2017-11-10 08:59] BasThomas commented on #335
https://twitter.com/slava_pestov/status/928902232468156416

[2017-11-10 16:28] modocache commented on #335
https://twitter.com/arekholko/status/928964586396581889

[2017-11-11 08:51] BasThomas commented on #335
https://github.com/apple/swift-package-manager/pull/1390

[2017-11-13 14:24] modocache commented on #335
The last issue mentioned the `-Ounchecked` thread but the discussion is now centered on whether command-line Swift options need to go through swift-evolution in some cases. It's an interesting topic that I think I'll expand on in this issue. (Just for convenience, here's a link to one message in the mailing list thread: https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20171113/005944.html)

[2017-11-13 16:20] modocache commented on #335
New Swift Unwrapped: https://spec.fm/podcasts/swift-unwrapped/94819

[2017-11-13 19:00] modocache commented on #335
Many people (myself included) have tried to refactor Swift's Python `build-script`, and this looks like the latest development on that front: https://github.com/apple/swift/pull/12873

[2017-11-13 19:02] modocache commented on #335
A fix for one of the starter tasks in last week's issue: https://github.com/apple/swift/pull/12856/

[2017-11-13 20:06] modocache commented on #335
Would've been nice to include this last week, but I'll do it this week instead: https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20171106/005828.html

[2017-11-14 07:50] BasThomas commented on #335
https://twitter.com/slava_pestov/status/930260260362772480

[2017-11-14 08:26] RomanVolkov commented on #335
https://github.com/apple/swift/pull/12910

[2017-11-14 13:32] modocache commented on #335
https://twitter.com/Injection4Xcode/status/930125224233914376

[2017-11-14 21:06] BasThomas commented on #335
189 in review

[2017-11-15 17:34] BasThomas commented on #335
https://twitter.com/clattner_llvm/status/930832426548436992

[2017-11-15 21:42] BasThomas commented on #335
187 accepted, review extended to bikshed on naming: https://github.com/apple/swift-evolution/commit/2d24b0ce9f138858b8341467170d6d8ba973827f

[2017-11-16 05:08] BasThomas commented on #335
https://twitter.com/tkremenek/status/930975883027820545

[2017-11-16 05:08] BasThomas commented on #335
https://twitter.com/slava_pestov/status/930976398792994816

[2017-11-16 05:50] modocache commented on #335
Draft of this week's issue here: https://github.com/SwiftWeekly/swiftweekly.github.io/pull/336

[2017-11-16 13:33] kud1ing commented on #335
Alexander Lash:

https://twitter.com/lexlash/status/930877904551944192

[2017-11-16 18:00] modocache opened #338 "[96] Issue #96 - Nov 30, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, feel free to [open a pull request](https://github

[2017-11-16 18:01] modocache commented on #335
Published. Thanks everybody! I pushed a draft for issue 96, which according to #323 is next next week. I assume it'll be written by @jessesquires...? Here are the notes for that issue: #338.

[2017-11-16 18:01] #335 closed

[2017-11-17 06:19] BasThomas commented on #338
https://twitter.com/slava_pestov/status/931365736005505024

[2017-11-17 07:41] BasThomas commented on #338
190 in review

[2017-11-17 15:07] RomanVolkov commented on #338
https://twitter.com/tkremenek/status/930975883027820545

[2017-11-17 16:02] BasThomas commented on #338
@RomanVolkov can you check if it wasn’t already added in the previous issue? https://github.com/SwiftWeekly/swiftweekly.github.io/issues/335#issuecomment-344817396

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-18 20:12] modocache commented on #338
https://github.com/apple/swift-llbuild/pull/200

[2017-11-18 20:37] RomanVolkov commented on #338
@BasThomas no, it's not at result #95 issue

[2017-11-20 09:00] ColinEberhardt opened #339 "Question on integrating with MailChimp"
Hi All - firstly, a big 'thank you' for publishing this with a CC licence - it made it really quick and easy for me to put together my new newsletter (http://wasmweekly.news/).

I've got a quick question that I hope you'll be able to help out with. I'm using mailchimp to email the subscribers, which I believe is the same process as yourselves. Ths means that my workflow is a bit repetitive:

1. Cr

[2017-11-20 09:30] BasThomas commented on #339
As far as I know this process is automated for Swift Weekly Brief. @jessesquires should know more about it.

Also, congrats on your newsletter! 🎉

[2017-11-20 17:42] jpsim commented on #338
Python Interop with Swift 4+: https://lists.swift.org/pipermail/swift-evolution//Week-of-Mon-20171113/041463.html

[2017-11-22 20:52] gregheo commented on #339
Hi @ColinEberhardt! I believe we're using MailChimp's RSS-to-email feature: https://mailchimp.com/features/rss-to-email/

[2017-11-22 20:54] gregheo commented on #338
Would like to submit this animated GIF I lovingly hand-crafted for consideration:
https://twitter.com/gregheo/status/933429621399289856

[2017-11-22 21:27] ColinEberhardt commented on #339
Brilliant, thanks @gregheo - I hadn't thought of that. This will certainly make my life simpler 💯

[2017-11-22 21:27] #339 closed

[2017-11-23 01:12] jpsim commented on #338
Fix [SR-6290](https://bugs.swift.org/browse/SR-6290), Swift dictionary padding with enum keys: https://github.com/apple/swift-lldb/pull/259

[2017-11-23 03:43] jessesquires commented on #339
Hey @ColinEberhardt ! 👋 😄

Awesome to hear. Newsletter looks good!

@gregheo is correct, we're using the RSS-to-email. Then, I automate tweets using IFTTT which also has [RSS hooks](https://ifttt.com/feed). With this + GH Pages hosting, all we need to do each with is merge some markdown and everything else happens automatically. ✨

Let me know if you have any other questions! 😊

Also, sorry to chi

[2017-11-23 06:37] ColinEberhardt commented on #339
Thanks @jessesquires - really appreciate the help from you all, it's been a big help :-)

[2017-11-24 02:07] jessesquires commented on #338
Fushia OS
https://github.com/apple/swift/pull/12955

Conditional conformances
https://github.com/apple/swift/pull/13046

[Syntax] improvements
https://github.com/apple/swift/pull/12989

[AST] optimizations
https://github.com/apple/swift/pull/13041

[2017-11-25 13:34] skyweb07 commented on #338
Hey guys, I'm making this Snapshot test library to replace the Facebook deprecated one `FBSnapshotTestCase`, it would be nice to get into the list https://github.com/skyweb07/Snap.swift thanks :)

[2017-11-25 15:25] BasThomas commented on #338
Hey @skyweb07. The library is looking awesome! That being said, Swift Weekly Brief focuses on what's happening in the swift.org projects, so I'm not sure this would be suited for the Swift Weekly audience.

[2017-11-25 16:04] skyweb07 commented on #338
thanks @BasThomas, I did thought it was a general weekly, thanks anyway, keep the good work guys!! cheers!

[2017-11-25 18:11] RomanVolkov commented on #338
@skyweb07 I think you confused this digest with this one http://digest.swiftweekly.com/
I think they will be glad to your library:)

[2017-11-25 23:31] modocache commented on #338
Another article in my series on the Swift compiler internals, in case you guys'd like to include it -- this one is a walkthrough of the code in the Swift driver: https://modocache.io/reading-and-understanding-the-swift-driver-source-code

[2017-11-26 20:48] jessesquires commented on #146
closing in favor of #333

[2017-11-26 20:48] #146 closed

[2017-11-26 21:31] #334 closed

[2017-11-26 21:54] jessesquires commented on #338
Finally
https://twitter.com/jckarter/status/934867063721541632

[2017-11-27 09:05] BasThomas commented on #338
Dynamic Member Lookup: https://github.com/apple/swift-evolution/pull/768

[2017-11-27 21:48] jessesquires commented on #338
https://github.com/apple/swift/pull/13062

https://github.com/apple/swift/pull/13007

[2017-11-28 01:44] gregheo commented on #338
[SE-0191](https://github.com/apple/swift-evolution/blob/master/proposals/0191-eliminate-indexdistance.md) "Eliminate IndexDistance from Collection" is under review

https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20171127/041716.html

[2017-11-28 15:55] BasThomas commented on #338
https://github.com/apple/swift-evolution/pull/771

[2017-11-28 20:54] BasThomas commented on #338
190 accepted, 188 accepted

[2017-11-29 22:41] BasThomas commented on #338
https://twitter.com/dgregor79/status/935993438687731713

[2017-11-30 10:31] RomanVolkov commented on #223
Be honest @BasThomas, you just want to be closer to top😀

[2017-11-30 14:21] BasThomas commented on #223
Obviously.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-30 16:06] #338 closed

[2017-11-30 16:07] jessesquires opened #342 "[97] Issue #97 - Dec 7, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2017-11-30 16:12] #300 closed

[2017-11-30 16:17] jessesquires commented on #223
docs on sorting here: https://jekyllrb.com/docs/templates/ (search for "sort")

[2017-11-30 19:43] BasThomas commented on #342
189 accepted

[2017-12-01 01:27] gregheo commented on #342
RFC on removing parts of associated type inference (again)

https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20171127/041831.html

[2017-12-01 02:18] BasThomas commented on #342
https://twitter.com/aciidb0mb3r/status/936386272318197760

[2017-12-01 05:13] BasThomas commented on #342
https://twitter.com/dgregor79/status/936353445530910720

[2017-12-01 05:33] RomanVolkov commented on #342
Array, Optional and Dictionary conforms to Equatable itself now
https://github.com/apple/swift/commit/39e0a951b83e664b6e7fe69ca7ca9c6b89463f99

[2017-12-02 01:27] jessesquires commented on #342
https://swiftunboxed.com/stdlib/substrings/

[2017-12-04 03:19] RomanVolkov commented on #342
Two years 🎉
https://twitter.com/tkremenek/status/937421502101602304

[2017-12-04 18:04] BasThomas commented on #342
191 accepted

[2017-12-04 20:36] jessesquires commented on #342
String resilience WIP
https://github.com/apple/swift/pull/12442

[2017-12-05 23:27] jessesquires commented on #342
https://twitter.com/dgregor79/status/938174459734663168

[2017-12-06 07:00] RomanVolkov commented on #342
https://twitter.com/slava_pestov/status/938161436693446656

[2017-12-07 16:05] #342 closed

[2017-12-07 16:06] jessesquires opened #343 "[98] Issue #98 - Dec 14, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2017-12-08 07:51] RomanVolkov commented on #343
https://github.com/apple/swift-evolution/pull/773

[2017-12-08 07:52] RomanVolkov commented on #343
https://github.com/apple/swift/pull/13312
https://github.com/apple/swift/pull/13338

[2017-12-09 06:26] BasThomas commented on #343
https://twitter.com/slava_pestov/status/939348987223478272

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-11 00:35] jessesquires commented on #343
eliminate arraySlice
https://github.com/apple/swift/pull/13323

sequence/collection search from the end
https://github.com/apple/swift/pull/13337

[2017-12-11 07:46] BasThomas commented on #343
https://github.com/apple/swift-evolution/issues/774

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-11 17:02] jessesquires commented on #343
https://oleb.net/blog/2017/12/dictionary-codable-array/

[2017-12-12 00:32] jpsim commented on #343
[[swift-corelibs-dev] Proposal and Timeline for Discourse Transition](https://lists.swift.org/pipermail/swift-corelibs-dev/Week-of-Mon-20171211/001401.html)

[2017-12-14 02:22] jessesquires commented on #343
https://twitter.com/jckarter/status/941087094994214912

[2017-12-14 15:50] #343 closed

[2017-12-14 15:52] jessesquires opened #344 "[99] Issue #99 - Dec 21, 2017"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2017-12-16 18:24] RomanVolkov commented on #344
Looks much better then mailing list https://forums.swift.org

[2017-12-17 06:16] RomanVolkov commented on #344
https://twitter.com/modocache/status/942054232232005632

[2017-12-19 00:58] jessesquires commented on #344
🤣

https://twitter.com/dazmuda/status/942889630738800640

[2017-12-19 16:39] BasThomas commented on #344
https://github.com/apple/swift-evolution/pull/775

[2017-12-19 16:39] BasThomas commented on #344
187 accepted with revisions

[2017-12-19 17:16] RomanVolkov commented on #344
This's not fully about swift, but stand to be closer than before
https://blog.jetbrains.com/kotlin/2017/12/kotlinnative-v0-5-released-calling-kotlin-from-swift-and-c-llvm-5-and-more/

[2017-12-20 05:13] BasThomas commented on #344
192 in review

[2017-12-20 18:57] RomanVolkov commented on #344
Continue working on class resilience  https://github.com/apple/swift/pull/13530

[2017-12-21 00:30] jessesquires commented on #344
https://twitter.com/UINT_MIN/status/943595671109582848

[2017-12-21 03:50] BasThomas commented on #344
https://github.com/apple/swift-evolution/issues/754

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-21 17:11] #344 closed

[2017-12-21 17:13] jessesquires opened #345 "[100] Issue #100 - Jan 04, 2018"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2017-12-21 18:22] BasThomas commented on #345
100! 🎉😎

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-21 19:17] gregheo commented on #345
Issue 100 deserves a sonnet rather than a limerick.

[2017-12-24 21:33] kud1ing commented on #345
[Refactoring: Expand a ternary operator into an if statement and vice-versa](https://github.com/apple/swift/pull/12554) got merged.

[2017-12-25 19:44] jessesquires commented on #345
changing from Dec 28 to Jan 4 😄

[2017-12-27 02:30] jessesquires commented on #345
https://duan.ca/2017/12/23/contributing-to-open-source-foundation/

[2017-12-31 02:41] jessesquires commented on #223
https://shopify.github.io/liquid/filters/sort/

[2018-01-04 08:24] RomanVolkov commented on #345
SE-0192 returned for revision https://github.com/apple/swift-evolution/pull/777

[2018-01-04 14:57] #345 closed

[2018-01-11 01:02] tapthaker opened #346 "Trial Run [101] Issue #101 - Jan 18, 2018"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in the Pull Request.

[2018-01-11 01:06] jessesquires commented on #346
Awesome! 🎉 Thanks @tapthaker !

@SwiftWeekly/writers -- Tapan is interested in joining / helping resume the newsletter with @BasThomas and @RomanVolkov. We're going to do a trial run for this issue to bring Tapan up to speed (but not publish the issue).

[2018-01-11 01:14] tapthaker commented on #346
@jessesquires Thanks for introducing me. I am going to start writing the draft. Folks please help out with updates for this week as and when possible.

[2018-01-11 01:17] tapthaker commented on #346
I think we should cover [Conditional conformance](https://swift.org/blog/conditional-conformance/) even if it truly isn't a part of this week.

[2018-01-11 03:48] BasThomas commented on #346
Awesome @tapthaker! Looking forward.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-11 03:49] BasThomas commented on #346
Here are some URLs I gathered:

https://twitter.com/SwiftLang/status/950448534599315456
https://twitter.com/AirspeedSwift/status/950446966126751744
194 in review
https://github.com/apple/swift-evolution/pull/781

https://twitter.com/Ilseman/status/951181851229483008

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-11 13:05] RomanVolkov commented on #346
@tapthaker Nice to meet you!

[2018-01-11 13:12] RomanVolkov commented on #346
SE-0192 updates: https://github.com/apple/swift-evolution/pull/777

[2018-01-11 13:14] RomanVolkov commented on #346
Proposal update: Deriving collections of enum cases - https://github.com/apple/swift-evolution/pull/114#issuecomment-354573721
SE-0192 revision: https://github.com/apple/swift-evolution/pull/777

[2018-01-11 18:30] jessesquires commented on #346
"Finally"
https://twitter.com/jckarter/status/951199675163422720

[2018-01-12 10:09] RomanVolkov commented on #346
https://github.com/apple/swift/pull/13893
https://github.com/apple/swift/pull/13897

[2018-01-12 20:31] RomanVolkov commented on #346
“Finally”
https://twitter.com/jckarter/status/951569237318893568

[2018-01-13 01:13] BasThomas commented on #346
SE-0192 returned for revision: https://github.com/apple/swift-evolution/commit/25ec3030b7b656e5d7df7c150ab6f53723cdc0a2

[2018-01-13 18:19] BasThomas commented on #346
Bool toggle proposal: https://github.com/apple/swift-evolution/pull/782

[2018-01-15 05:25] RomanVolkov commented on #346
Improvements to function's calling convention
https://github.com/apple/swift/pull/13935

[2018-01-16 14:34] tapthaker commented on #346
Hey folks, apologies for not continuing to update the PR. I was a bit ill. I will be updating in the next couple of hours.

[2018-01-16 15:23] jessesquires commented on #346
Bool-toggle blog post: https://www.objc.io/blog/2018/01/16/toggle-extension-on-bool/

[2018-01-17 05:53] RomanVolkov commented on #346
https://twitter.com/slava_pestov/status/953473190226833408

[2018-01-17 20:34] BasThomas commented on #346
https://twitter.com/ericasadun/status/953655632552316929

[2018-01-18 09:30] RomanVolkov commented on #346
Small step with huge background and importance
https://github.com/apple/swift/pull/13573/files

[2018-01-18 10:23] tapthaker commented on #346
I like the idea of
One small step for resilience, one giant step for ABI

[2018-01-18 17:25] jessesquires opened #348 "[101] Issue #101 - Jan 25, 2018"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2018-01-18 17:28] jessesquires commented on #346
Alright folks -- thanks everyone for helping with this exercise! See the practice issue at #347.

More discussion on the future of the newsletter at #348 😄 🎉

[2018-01-18 17:28] #346 closed

[2018-01-18 17:35] tapthaker commented on #346
Thanks @jessesquires for this exercise! It was an amazing experience indeed.
Special thanks to @BasThomas @RomanVolkov for helping me with several updates & reviewing the blog along the way

[2018-01-18 17:38] jessesquires commented on #348
Hey everyone —

I've talked with @BasThomas about taking over the newsletter and he's excited to do it. 🎉

He's going to bring it back with Issue 101 next week.

After me, he's written the most issues and was one of the earliest external contributors. Out of the contributors who had the capacity to keep this going, he has the most experience, so he's going to be taking the lead moving forward. (I'

[2018-01-18 17:40] jessesquires opened #349 "Revise documentation, update anything that needs it"
Updates on:

- schedule
- contributing
- readme

[2018-01-18 17:44] jessesquires opened #350 "Address potential security vulnerability in nokogiri"
Wow. another new useful github feature:

![screen shot 2018-01-18 at 9 44 04 am](https://user-images.githubusercontent.com/2301114/35112826-253b1bd8-fc34-11e7-9c14-ca8c18d3b522.png)

Probably just need to `bundle update`

[2018-01-18 17:55] tapthaker commented on #348
Awesome !!! Looking forward to working with you all.

[2018-01-18 17:57] BasThomas commented on #350
Tried, but it seems like a lower (1.4) version of nokogiri is required by another dependency :(

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-18 18:06] jessesquires commented on #350
Ugh. 😢  Did you update GH-pages to the latest version?

[2018-01-18 18:23] BasThomas commented on #350
Haven’t tried, no.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-18 20:30] #350 closed

[2018-01-19 00:21] SD10 commented on #348
@BasThomas If you need any help with things like proofreading, don't hesitate to ping me! 👍

[2018-01-19 00:54] jessesquires commented on #348
@SD10 if you'd like to be more formally involved, let us know. 😄 If you're interested in writing issues every once in a while, that'd be a huge help.

[2018-01-19 01:28] SD10 commented on #348
@jessesquires I'm interested but I have a bad habit of offering to do everything and over-extending myself 😅 If I free up another obligation I will focus some time here for sure!

[2018-01-19 04:51] BasThomas commented on #348
Haha, that's some great self-reflection @SD10. Feel free to hop in when you feel like it (you know where to find the drafts). Would be super appreciated, but no obligations of course :)

[2018-01-20 05:05] BasThomas commented on #348
https://twitter.com/mishaldshah/status/954463395083730944

[2018-01-20 15:54] #349 closed

[2018-01-20 16:00] #187 closed

[2018-01-20 16:01] jessesquires commented on #11
meh. i don't think there's much to do here. going to close.

if needed, we can revisit in the future.

[2018-01-20 16:01] #11 closed

[2018-01-20 17:02] jessesquires commented on #315
Just tried this locally and it's not great.

There's no way to pass our own `img` classes (from bootstrap `media-object img-rounded`).

Let's just keep what we have.

[2018-01-20 17:02] #315 closed

[2018-01-20 17:08] jessesquires commented on #319
Actually, I kind of like *not* having this paged. I like how simple it is, and it's probably not a priority for people to read *really old* issues.

Especially now with the new search bar up top (#353), seems less valuable.

Also, this is how [llvm weekly](http://llvmweekly.org) does it.

-----

@BasThomas -- thoughts? still think we should do this?

[2018-01-20 18:19] #223 closed

[2018-01-20 18:55] BasThomas commented on #319
Think it's not that big of an issue indeed; let's close for now. :)

[2018-01-20 19:15] BasThomas commented on #348
https://twitter.com/ericasadun/status/954746199415795713

[2018-01-20 19:52] jessesquires commented on #348
@BasThomas - just pushed the draft template for you 😄

[2018-01-20 20:10] jessesquires commented on #348
https://forums.swift.org/t/welcome-to-the-swift-forums/8

[2018-01-20 20:25] BasThomas commented on #348
https://swift.org/blog/forums/

[2018-01-20 20:59] jessesquires opened #357 "[Danger-prose] Improvements for danger + proselint"
Follow-up from #333

- Re-enable `prose.check_spelling`, which seemed to [not work before](https://github.com/SwiftWeekly/swiftweekly.github.io/pull/355#issuecomment-359201449)

- We'd also want some words to have a canonical spelling (for example, does the compiler suggest "fixits" or "fix-its"? Do we invoke the compiler on the "command line", "commandline", or "command-line"?).

- We need the bo

[2018-01-20 22:13] #333 closed

[2018-01-21 01:07] jessesquires commented on #348
this is pretty good. see joe groff's answer.
https://twitter.com/twostraws/status/954709346679754755

[2018-01-22 06:03] BasThomas commented on #348
https://github.com/apple/swift-evolution/pull/783

[2018-01-23 04:51] SD10 commented on #348
https://github.com/apple/swift/pull/14041
https://twitter.com/jckarter/status/955642158190489601

[2018-01-23 07:38] BasThomas commented on #348
https://twitter.com/jckarter/status/955642158190489601

[2018-01-23 18:45] BasThomas commented on #348
https://twitter.com/tkremenek/status/955862433171517440

[2018-01-23 18:55] jessesquires commented on #348
hey folks -- had ☕️ with @timothymiko today. he wants to start helping out and eventually try writing an issue. say hi 👋

[2018-01-23 19:01] SD10 commented on #348
that must’ve been some really good ☕️ 🤣 welcome @timothymiko!!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-23 19:21] timothymiko commented on #348
hey everyone, excited to help contribute!

[2018-01-23 19:41] BasThomas commented on #348
Awesome @timothymiko 🙌

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-24 01:15] SD10 commented on #348
I thought this would be good for a wrap up joke 🤣
https://twitter.com/jckarter/status/955931838320492544

[2018-01-24 08:44] BasThomas commented on #348
https://twitter.com/dgregor79/status/956024038572396546

[2018-01-24 08:58] BasThomas commented on #348
196 in review https://twitter.com/tkremenek/status/956069563304759296

[2018-01-24 15:57] jessesquires commented on #348
Joe's talk from Swift Summit posted:
https://www.skilled.io/u/swiftsummit/swift-s-reflective-underpinnings-joe-groff

[2018-01-24 19:40] jessesquires commented on #348
Xcode 9.3 beta with Swift 4.1

https://download.developer.apple.com/Developer_Tools/Xcode_9.3_beta/Release_Notes_for_Xcode_9.3_beta.pdf

[2018-01-24 23:09] jessesquires commented on #348
Final playgrounds 2.0 for iPad

https://developer.apple.com/news/?id=01242018a

[2018-01-25 00:09] jessesquires commented on #348
https://github.com/apple/swift/commit/a10a715c02d8d7161420397ed1188d80816da97e

[2018-01-25 06:27] BasThomas commented on #348
https://twitter.com/TimTr/status/956253973148676096

[2018-01-25 15:43] #348 closed

[2018-01-25 15:46] BasThomas opened #361 "[102] Issue #102 - Feb 8, 2018"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2018-01-25 15:46] jessesquires commented on #348
🎉💪

[2018-01-25 16:38] BasThomas commented on #361
https://swiftunboxed.com/lang/conditional-conformance/

[2018-01-25 17:34] SD10 commented on #348
Congrats on the first new issue @BasThomas 🔥🔥🔥

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-25 17:35] tapthaker commented on #348
Congratulations @BasThomas !!

[2018-01-25 18:05] BasThomas commented on #361
197 in review: https://github.com/apple/swift-evolution/blob/master/proposals/0197-remove-where.md

[2018-01-25 18:06] BasThomas commented on #348
Thanks @SD10 & @tapthaker. 😊

[2018-01-25 18:07] tapthaker commented on #361
@BasThomas : That was fast !!! 197 just made it to review !!!

[2018-01-25 18:12] BasThomas commented on #361
🏎💨

[2018-01-26 07:30] tapthaker commented on #361
@BasThomas: I couldn't be active last week. Do you want me to take up the ownership of the article this week ?

[2018-01-26 08:10] BasThomas commented on #361
No worries at all! If you want to write the next issue, go for it! As we’re publishing every other week, it will be the issue for February 8th. Is that OK with you?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-26 08:22] tapthaker commented on #361
Yes, it is fine with me.

[2018-01-26 09:19] BasThomas commented on #361
Can you check again if you got the invite for the organisation and accept that? Then I can also assign you as an assignee to this issue :)

[2018-01-26 09:44] tapthaker commented on #361
Haven't got the invite. Checked everywhere. Please send it again.

[2018-01-26 10:55] BasThomas commented on #361
<img width="468" alt="screen shot 2018-01-26 at 11 53 58" src="https://user-images.githubusercontent.com/4190298/35436678-a679b298-028f-11e8-8a8b-a1cefdfd7bef.png">
You really should've been invited, I think Jesse and I already tried several times. 😁
Do you not see a button at https://github.com/swiftweekly? Can you send a screenshot of that page maybe?

[2018-01-26 10:59] tapthaker commented on #361
Joined. My bad.

[2018-01-26 16:31] jessesquires commented on #361
@tapthaker 🎉 you should go ahead and generate the draft 😊

[2018-01-26 17:28] tapthaker commented on #361
milseman is on fire with String guts

https://github.com/apple/swift/pull/14186

[2018-01-28 21:27] BasThomas commented on #361
“Removing terminology” is almost always good https://github.com/apple/swift/pull/14227
https://twitter.com/slava_pestov/status/957720067822706688

[2018-01-29 09:50] tapthaker commented on #361
Was thinking of mentioning about tryswift.
https://www.tryswift.co/events/2018/tokyo/en/

[2018-01-29 09:51] tapthaker commented on #361
https://twitter.com/SwiftSummit/status/955935679288041472

[2018-01-29 16:59] tapthaker commented on #361
https://pspdfkit.com/blog/2018/binary-frameworks-swift/

[2018-01-29 17:00] tapthaker commented on #361
Update: I know I haven't been writing & keeping draft up-to-date. I will ensure that it is updated by EOD tomorrow

[2018-01-29 17:27] SD10 commented on #361
@tapthaker I'm not that active around here but from what I can remember the drafts were sometimes done a couple days before. You have a ton of time to collect resources until then!

[2018-01-29 21:18] BasThomas commented on #361
try! Swift is awesome, but I am not so sure how it would be related to the Weekly Brief. Maybe we can share some presentations that focussed on Swift.org and its project afterwards?

This has already been mentioned in [issue 101](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/_posts/2018-01-25-issue-101.md#news-and-community)!

No worries! Looking forward to see a draft with the

[2018-01-29 22:25] alexito4 commented on #361
Hi! First time here ^^
I found <https://www.skilled.io/u/swiftsummit/creating-refactoring-transformations-for-swift> interesting. Would be nice to help get more attraction to the refactoring tools 👍

[2018-01-30 05:52] BasThomas commented on #361
Hi @alexito4 👋, thanks!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-30 06:22] RomanVolkov commented on #361
[Proposal] Replace PlaygroundQuickLook/CustomPlaygroundQuickLookable with new API: https://github.com/apple/swift-evolution/pull/784

[2018-01-30 06:48] BasThomas commented on #361
https://twitter.com/pointfreeco/status/958103863428632576

[2018-01-31 03:45] RomanVolkov opened #362 "[104] Issue #104 - March 8, 2018"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2018-01-31 07:19] RomanVolkov commented on #361
https://github.com/apple/swift/pull/14296

[2018-01-31 20:13] jessesquires commented on #361
Conditional conformance to `Hashable`

https://github.com/apple/swift/pull/14247

[2018-01-31 21:47] BasThomas commented on #361
https://twitter.com/SwiftSummit/status/958815695600365568

[2018-02-01 15:54] BasThomas commented on #361
Finally: https://twitter.com/jckarter/status/959091909129113602

[2018-02-01 18:32] BasThomas commented on #361
198 in review https://github.com/apple/swift-evolution/pull/784

[2018-02-01 20:04] BasThomas commented on #361
195 review extended https://github.com/apple/swift-evolution/commit/f1ef59909b8f6bad7ba0f85152ca294d0b310638

[2018-02-02 05:13] BasThomas commented on #361
https://twitter.com/dgregor79/status/959213417964781568

[2018-02-02 06:08] BasThomas commented on #361
197 approved

[2018-02-02 17:41] jpsim commented on #361
CountableRange removed: https://twitter.com/dgregor79/status/959466959388553216

[2018-02-03 07:57] BasThomas commented on #361
Conditional Conformance implemented. That's a big part of ABI Stability: https://github.com/apple/swift-evolution/commit/3bccceedbe9085c5e1a7e79d8a6cf2bfaa06d476

[2018-02-03 20:33] jessesquires commented on #361
Before, we would periodically link to the proposal status page.

I think we should regularly link to this new forum page now:
https://forums.swift.org/c/evolution/proposal-reviews

With something like: "Here are the current proposals under review" and try to encourage readers to participate.

[2018-02-03 22:04] BasThomas commented on #361
Yes, I think that would be a good idea now that it is easier than ever to do so. Also saw the tweet already - thanks!

[2018-02-04 08:41] tapthaker commented on #361
Agreed. I will make the changes accordingly.

[2018-02-04 09:54] BasThomas commented on #361
Awesome, thanks @tapthaker!

Let me know if I can help you with something - we're getting closer to publishing this Thursday 😃

[2018-02-04 09:54] BasThomas commented on #361
https://twitter.com/harlanhaskins/status/959926493190279168

[2018-02-04 13:58] tapthaker commented on #361
@BasThomas : Thanks. I will be able to get things done on time.

[2018-02-04 23:03] tapthaker commented on #361
I have a feeling that Bi-Weekly issues are getting long. Just worried that excessive content might overwhelm the readers. Either that or I am writing more than necessary.

[2018-02-05 01:24] jessesquires commented on #361
@tapthaker If that's the case, we should trim to only the most important things 😊 We can help / discuss on the PR.

[2018-02-05 08:22] RomanVolkov commented on #361
I agree with both of you @jessesquires @tapthaker It's a great idea to focus only on major news.
but the situation can be with outdated news. E.g., something important happens after new issue and it will take 2 weeks to get informed.
@jessesquires @BasThomas is it an issue from your perspective or not?

[2018-02-05 09:30] BasThomas commented on #361
I think for those cases (which I feel are quite rare - please let me / us know if you have any!) we can send a separate tweet.

If it does turn out that the biweekly schedule doesn’t work, we can look into solving it in some way at that point.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-08 05:41] modocache commented on #361
Shameless plug: is it too late to include a link to https://modocache.io/the-swift-frontend-lexing-and-parsing ?

[2018-02-08 06:04] tapthaker commented on #361
@modocache : Thanks. I will be able to this for sure.
Just need someone up to review its @BasThomas ?

[2018-02-08 06:41] BasThomas commented on #361
Go ahead :)

[2018-02-08 16:49] #361 closed

[2018-02-08 17:02] jessesquires opened #368 "[103] Issue #103 - Feb 22, 2018"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2018-02-08 17:03] jessesquires commented on #361
Hey @tapthaker -- not sure what happened with your intro comments on the PR. Sorry about that 😊 If you had some changes locally that you forgot to push, please open a new PR to add them 😄

[2018-02-08 18:28] tapthaker commented on #361
`git push` failed for some reason but i didn't notice it. Creating a new PR

[2018-02-08 18:39] tapthaker commented on #361
@BasThomas @jessesquires: Just added @modocache's article in the PR. Don't want to change intro comments now that it is out.

[2018-02-08 20:23] BasThomas commented on #368
https://github.com/apple/swift-evolution/pull/786

[2018-02-09 04:26] tapthaker commented on #368
https://twitter.com/jckarter/status/961817885487259650

[2018-02-09 10:56] SD10 commented on #368
https://twitter.com/tkremenek/status/961865163568693248

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-10 17:22] jessesquires commented on #368
https://swift.org/blog/osize/

[2018-02-10 17:22] jessesquires commented on #368
https://github.com/apple/swift/pull/14502

[2018-02-10 21:32] SD10 commented on #368
Possible string index bug
https://twitter.com/lapcatsoftware/status/962347634408280065

[2018-02-11 20:12] jessesquires commented on #368
Finally
https://mobile.twitter.com/AirspeedSwift/status/962754808733036544

[2018-02-12 03:13] RomanVolkov commented on #368
update for se-0195 https://github.com/apple/swift/pull/14546
switches from DynamicMemberLookupProtocol to @dynamicmemberlookup,
"updates it for other changes in the compiler, improves diagnostics a bit, and adds new tests"

[2018-02-12 03:40] RomanVolkov commented on #368
https://forums.swift.org/t/proposal-to-improve-the-standard-library-stride-types/9675

[2018-02-12 05:53] BasThomas commented on #368
195 accepted blog post: https://forums.swift.org/t/se-0195-introduce-user-defined-dynamic-member-lookup-types/8658/160

[2018-02-12 06:25] BasThomas commented on #368
https://forums.swift.org/t/pitch-add-compactmapvalues-to-dictionary/8741

[2018-02-13 16:49] jessesquires commented on #368
Bool toggle

review kicking off soon: https://github.com/apple/swift-evolution/pull/782#issuecomment-364764667

implementation: https://github.com/apple/swift/pull/14586

[2018-02-14 23:13] BasThomas commented on #368
https://twitter.com/dgregor79/status/963904855851991041

[2018-02-15 05:45] RomanVolkov commented on #368
Pitch "Objective-C interoperability: Eliminate NSObjectProtocol" https://forums.swift.org/t/objective-c-interoperability-eliminate-nsobjectprotocol/9947

[2018-02-15 17:12] jessesquires commented on #368
Bool toggle review
http://forums.swift.org/t/se-0199-adding-toggle-method-to-bool/9841

[2018-02-15 17:13] jessesquires commented on #368
Adding #context

http://forums.swift.org/t/supplement-file-line-and-function-with-context/9505

[2018-02-15 17:14] jessesquires commented on #368
Float.nextUp perf

http://forums.swift.org/t/is-floats-nextup-really-50-times-slower-than-necessary/9716

[2018-02-16 08:14] BasThomas commented on #368
https://twitter.com/dgregor79/status/964248492729278464

Source compatibility is "fun": https://forums.swift.org/t/objective-c-interoperability-eliminate-nsobjectprotocol/9947/17?u=douglas_gregor

[2018-02-16 21:18] BasThomas commented on #368
https://github.com/apple/swift-evolution/pull/787

[2018-02-17 06:07] jessesquires commented on #368
https://useyourloaf.com/blog/replacing-flatmap-with-compactmap/

[2018-02-18 07:31] BasThomas commented on #368
https://twitter.com/jckarter/status/965039238071726081

[2018-02-18 20:07] BasThomas commented on #368
https://github.com/apple/swift-evolution/pull/789

[2018-02-20 01:52] tapthaker commented on #368
https://davedelong.com/blog/2018/02/08/swift-protocols-wishlist/

Swift protocols wish list

[2018-02-20 19:59] BasThomas commented on #368
https://www.dotconferences.com/2018/01/ben-cohen-extending-the-standard-library

[2018-02-20 22:26] BasThomas commented on #368
https://twitter.com/tkremenek/status/966071276543492096

Swift to participate in Google Summer of Code, see: https://forums.swift.org/tags/gsoc-2018 if you are interested in participating!

[2018-02-21 06:38] BasThomas commented on #368
https://github.com/apple/swift-evolution/pull/791

[2018-02-21 06:38] BasThomas commented on #368
FYI, I am putting together the last bits today :)

[2018-02-21 06:54] BasThomas commented on #368
Xcode 9.3 beta 3 + `xccov`: https://twitter.com/SmileyKeith/status/966089848904810496

[2018-02-21 23:54] jessesquires commented on #368
@BasThomas

Swift JIRA tickets now have "votes". Not sure when this was added.

I made a custom public filter to sort by highest voted bugs/issues.
https://bugs.swift.org/issues/?filter=11015

[2018-02-22 08:19] BasThomas commented on #368
@jessesquires I think that's been there forever. 😁

[2018-02-22 14:37] jessesquires commented on #368
@BasThomas lol oops 😳

[2018-02-22 19:14] #368 closed

[2018-02-23 06:47] BasThomas commented on #362
Created a draft for you @RomanVolkov :)

[2018-02-24 00:31] mackoj commented on #362
https://github.com/apple/swift-clang/commit/334f080ab3c1bfbb13601a4f404b9c97e2294eb9

[2018-02-26 17:43] jessesquires commented on #362
https://github.com/apple/swift/pull/14442

[2018-02-27 16:42] jessesquires commented on #362
Jordan Rose blog post
http://belkadan.com/blog/2018/02/Many-to-Many-Protocols/

[2018-02-28 05:17] tapthaker commented on #362
https://twitter.com/ericasadun/status/968705706777042944

https://forums.swift.org/t/accepted-se-198-playground-quicklook-api-revamp/10401

[2018-02-28 07:28] RomanVolkov commented on #362
@BasThomas  thanks!

[2018-02-28 08:56] BasThomas commented on #362
https://github.com/apple/swift-evolution/issues/794

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-28 10:29] mackoj commented on #362
https://forums.developer.apple.com/thread/97662

[2018-02-28 10:50] mackoj commented on #362
https://github.com/apple/swift/pull/14854

[2018-02-28 13:35] BasThomas commented on #362
Thanks for sharing these @mackoj!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-28 18:39] BasThomas commented on #362
https://twitter.com/Catfish_Man/status/968567431835795457

This (from @ilseman) is probably the Swift change I’m most excited about this year. Still a ways to go, but look at those delicious 2.5x ObjC bridging speedups even on this relatively early version! https://github.com/apple/swift/pull/14755

[2018-02-28 22:00] BasThomas commented on #362
198 accepted: https://github.com/apple/swift-evolution/commit/6591496881319b749d4503a748317aedcd5be46a

[2018-03-01 01:48] jessesquires commented on #362
Community reports of improved build times with Xcode 9.3 beat 3

https://twitter.com/benasher44/status/968905975724892160
https://twitter.com/adellibovi/status/969012500682477568

[2018-03-01 06:47] BasThomas commented on #362
https://github.com/apple/swift-nio

[2018-03-01 06:57] BasThomas commented on #362
Swift 4.2: https://github.com/apple/swift-evolution/pull/795

[2018-03-01 15:07] mackoj commented on #362
https://download.developer.apple.com/Developer_Tools/Xcode_9.3_beta_3/Release_Notes_for_Xcode_9.3_beta_3.pdf

## Testing

xccov is a new command-line utility for inspecting the contents of Xcode coverage reports. It can be used to view coverage data in both human-readable and machine parseable format. See the man page for more information about the tool (man xccov). (37172926)

[2018-03-01 16:42] jessesquires commented on #362
Also, regarding `swift-nio` (which @BasThomas linked above), they're using GH issues, not JIRA:
https://github.com/apple/swift-nio/issues (just interesting to note)

[2018-03-01 16:42] jessesquires commented on #362
hey @RomanVolkov 👋 Do you want to try to get a draft going soon? 😄

[2018-03-01 21:38] BasThomas commented on #362
@mackoj I covered `xccov` in issue 103 already. :)

[2018-03-02 09:47] mackoj commented on #362
@BasThomas sorry I forgot about it :/

[2018-03-02 13:22] mackoj commented on #362
https://github.com/apple/swift/pull/14913

[2018-03-02 19:13] SD10 commented on #362
Community: [First Class Swift API for Objective-C Frameworks](https://pspdfkit.com/blog/2018/first-class-swift-api-for-objective-c-frameworks/)

[2018-03-03 12:03] RomanVolkov commented on #362
@jessesquires  yeah. I'll make first draft soon. Just had a crazy week after week of snowboarding and broken arm:) will start soon

[2018-03-03 12:34] BasThomas commented on #362
Oh noes! If you do need any help, feel free to let me know.

[2018-03-03 18:52] jessesquires commented on #362
Oh man. Sorry @RomanVolkov ! Get well soon 😊

[2018-03-03 18:55] jessesquires commented on #362
Update on SE 192
https://forums.swift.org/t/se-0192-non-exhaustive-enums/7291/337

[2018-03-03 19:05] RomanVolkov commented on #362
@BasThomas @jessesquires thank you guys:)

[2018-03-03 19:19] tapthaker commented on #362
@RomanVolkov: Were you snowboarding swiftly ? Get well soon :)

Sent from my iPhone

[2018-03-04 19:59] RomanVolkov commented on #362
@tapthaker yes:) just had bad braking from the top

[2018-03-05 17:26] RomanVolkov commented on #362
@SwiftWeekly/writers Sorry about that, but seems I won't be able to make a good issue this time. Broken arm after traveling kicked me off of regular rhythm and past days were very chaotic. If anyone can handle this one - that will be great. I pushed new branch, but it has very few changes, just the list of started tasks (which is bigger that usual).
Sorry again for late news

[2018-03-05 17:46] BasThomas commented on #362
No worries - I can take over if no one else wants to :)

[2018-03-05 19:31] RomanVolkov commented on #362
@BasThomas thanks a lot! Hope will make another issue soon)

[2018-03-05 20:42] BasThomas commented on #362
Xcode 9 beta 4: https://download.developer.apple.com/Developer_Tools/Xcode_9.3_beta_4/Release_Notes_for_Xcode_9.3_beta_4.pdf

[2018-03-06 01:25] tapthaker commented on #362
Take care @RomanVolkov . @BasThomas : let me know if I can help. We can split work amongst ourselves if need be.

[2018-03-06 04:03] jessesquires commented on #362
fun trivia from Doug Gregor:
https://twitter.com/dgregor79/status/970857272724172800

[2018-03-06 04:05] jessesquires commented on #362
Thanks @RomanVolkov ! Get well! 🤒

[2018-03-06 06:14] BasThomas commented on #362
Thanks @tapthaker! Feel free to commit directly to the branch. 😊

[2018-03-06 06:16] BasThomas commented on #362
https://twitter.com/ericasadun/status/970754573609484288

[2018-03-06 09:40] tapthaker commented on #362
@BasThomas I will take up **Commits & Pull Requests** & **Proposals**.

[2018-03-07 00:08] jessesquires commented on #362
@tapthaker if you don't mind, just make your edits directly on the existing PR #371 😄

[2018-03-08 09:11] BasThomas commented on #362
194 accepted with revisions (https://github.com/apple/swift-evolution/pull/798)

[2018-03-08 09:17] BasThomas opened #372 "[105] Issue #105 - March 22, 2018"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2018-03-08 09:17] BasThomas commented on #372
Starter tasks:

[code]

[2018-03-08 16:12] #362 closed

[2018-03-09 01:16] tapthaker commented on #372
I will take up this issue

[2018-03-09 01:29] jessesquires commented on #372
thanks @tapthaker ! 💯

[2018-03-09 05:36] BasThomas commented on #372
Awesome @tapthaker 😊

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-09 05:49] BasThomas commented on #372
193 review extended https://twitter.com/tkremenek/status/971920927985299457

Review of SE-0193 extended to resolve naming of 'abiPublic' attribute, see https://forums.swift.org/t/se-0193-cross-module-inlining-and-specialization/7310/59

[2018-03-10 09:16] BasThomas commented on #372
https://twitter.com/jckarter/status/972274410676658176

Thanks to @lorentey, Swift now uses much higher-quality hashing with a per-process seed! https://forums.swift.org/t/psa-the-stdlib-now-uses-randomly-seeded-hash-values/10789

[2018-03-10 17:45] BasThomas commented on #372
https://twitter.com/twostraws/status/972510919250104320 + thread

[2018-03-10 23:32] SD10 commented on #372
20 years from now, jckarter will realize limiting generic parameter counts to 16 bits was his fatal mistake
https://twitter.com/slava_pestov/status/972611788565966848

[2018-03-11 14:14] BasThomas commented on #372
https://github.com/dabrahams/KillSequence

[2018-03-11 18:57] jessesquires commented on #372
Discussion on Result/Typed throws
https://forums.swift.org/t/adding-result-to-the-standard-library/6932/55

SPM workspaces pitch
https://forums.swift.org/t/package-manager-workspace/10667

Interesting discussion on when APIs should crash
https://forums.swift.org/t/when-should-standard-library-functions-crash/10661

[2018-03-13 00:33] tapthaker commented on #372
SE-0194 accepted

https://forums.swift.org/t/accepted-se-0194-derived-collection-of-enum-cases/10723

[2018-03-13 05:18] tapthaker commented on #372
Swift Evolution & Civility

http://ericasadun.com/2018/03/09/swift-evolution-and-civility/

[2018-03-13 07:52] BasThomas commented on #372
https://twitter.com/aciidb0mb3r/status/973409387711627264

This proposal will allow community build tools (Sourcery, SwiftLint, Jazzy, etc) to integrate with SwiftPM!
https://forums.swift.org/t/package-manager-extensible-build-tools/10900

[2018-03-13 17:42] RomanVolkov commented on #372
https://www.apple.com/newsroom/2018/03/apples-worldwide-developers-conference-kicks-off-june-4-in-san-jose/

Not Swift, but quite important

[2018-03-13 23:14] jessesquires commented on #372
hey @tapthaker 👋 😄  do you want to go ahead and open a PR for the content we have now? we can merge the draft this week. and then continue to open and merge PRs incrementally.

i think this will make it easiest to review. (and don't worry, nothing in `_drafts/` gets published)

[2018-03-14 02:41] tapthaker commented on #372
https://forums.swift.org/t/compilation-speed-help-test-batch-mode/10964

https://twitter.com/jckarter/status/973741128095641600

[2018-03-14 02:42] tapthaker commented on #372
@jessesquires : Yes, will get the draft ready in next 2 days

[2018-03-15 18:02] jessesquires commented on #372
Compilation speed: help test batch mode
https://forums.swift.org/t/compilation-speed-help-test-batch-mode/10964

[2018-03-16 14:38] BasThomas commented on #372
192 in re-review https://forums.swift.org/t/se-0192-non-exhaustive-enums-review-2/11043

[2018-03-16 18:33] RomanVolkov commented on #372
Final
https://twitter.com/cocoawithlove/status/974680586966233088

[2018-03-17 19:37] BasThomas commented on #372
200 in review

[2018-03-17 19:37] BasThomas commented on #372
How's the draft coming along @tapthaker? :)

[2018-03-17 21:20] jessesquires commented on #372
https://mobile.twitter.com/slava_pestov/status/974944281650593793?s=20

[2018-03-18 00:20] tapthaker commented on #372
Coming along, sorry for being slow. I’ll have something to review today EOD.

Sent from my iPhone

[2018-03-19 21:22] BasThomas commented on #372
Hey @tapthaker, let me know if I can help :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-20 04:45] tapthaker commented on #372
@BasThomas : I can't see the reference of killsequence any where on swift forums

[2018-03-20 08:09] BasThomas commented on #372
It might be that is still a draft, in which case you can ignore it.

[2018-03-20 20:03] BasThomas commented on #372
https://github.com/apple/swift-evolution/pull/807

[2018-03-21 18:05] jessesquires commented on #372
Erica's unwrap or die proposal: https://github.com/apple/swift-evolution/pull/811

[2018-03-22 06:42] BasThomas commented on #372
https://twitter.com/slava_pestov/status/976698121760620544

[2018-03-22 19:33] #372 closed

[2018-03-22 19:36] BasThomas opened #376 "[106] Issue #106 - April 5, 2018"
To contribute to this issue, simply leave a comment here. Please also review [our contributing guidelines](https://github.com/SwiftWeekly/swiftweekly.github.io/blob/master/CONTRIBUTING.md).

The current draft for this issue in [`_drafts/`](https://github.com/SwiftWeekly/swiftweekly.github.io/tree/master/_drafts). If you want to contribute directly, [open a pull request](https://github.com/SwiftWee

[2018-03-22 19:38] BasThomas commented on #376
Hey @SwiftWeekly/writers, if anyone is interested in writing this issue, that would be fantastic. I won't be able to spend enough time for a full issue, but am available for proofreading and getting a draft ready. If you're interested, let me know!